<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css"/>
    <script src="/static/js/construct_filt.js?v=300919_v10"></script>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/static/img/icon/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/img/icon/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/img/icon/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/img/icon/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/static/img/icon/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/static/img/icon/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/static/img/icon/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/static/img/icon/apple-touch-icon-152x152.png"/>
    <link rel="icon" type="image/png" href="/static/img/icon/favicon-196x196.png" sizes="196x196"/>
    <link rel="icon" type="image/png" href="/static/img/icon/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="/static/img/icon/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/static/img/icon/favicon-16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="/static/img/icon/favicon-128.png" sizes="128x128"/>
    <meta name="application-name" content="prixtips"/>
    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <meta name="msapplication-TileImage" content="/static/img/icon/mstile-144x144.png"/>
    <meta name="msapplication-square70x70logo" content="/static/img/icon/mstile-70x70.png"/>
    <meta name="msapplication-square150x150logo" content="/static/img/icon/mstile-150x150.png"/>
    <meta name="msapplication-wide310x150logo" content="/static/img/icon/mstile-310x150.png"/>
    <meta name="msapplication-square310x310logo" content="/static/img/icon/mstile-310x310.png"/>
    <!-- Author Meta -->
    <meta name="author" content="Aputek">

    <!-- Start Dublin Core Schema -->
    <link rel="schema.DC" href="//purl.org/dc/terms/">
    {% block dc_meta_social %}{% endblock dc_meta_social %}
    <meta name="DC.language" content="es">
    <meta name="DC.created" content="19/03/2019 05:12:07">
    <meta name="DC.modified" content="19/03/2019 05:12:07">
    <meta name="DC.creator" content="Prixtips">
    <meta name="DC.publisher" content="Prixtips">
    <!-- Start Dublin Core Schema -->

    <!-- Start Meta Social Media -->
    <meta property="og:locale" content="es_PE"/>
    <meta property="og:type" content="website"/>
    {% block og_meta_social %}{% endblock og_meta_social %}
    <meta property="og:url" content="https://prix.tips"/>
    <meta property="og:site_name" content="Prixtips"/>
    <meta property="article:publisher" content="https://www.facebook.com/prixtips"/>
    <meta property="article:author" content="https://www.facebook.com/franky.cunza"/>
    <meta property="article:tag" content="webdev"/>
    <meta property="article:tag" content="webperf"/>
    <meta property="fb:app_id" content="2146530282273320"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="1200"/>
    <meta property="og:image" content="https://prix.tips/static/img/prixtips-og.png"/>
    <meta property="og:image" content="https://prix.tips/static/img/prixtips-og2.png"/>
    <meta property="og:image:secure_url" content="https://prix.tips/static/img/prixtips-og.png"/>
    <!-- End Meta Social Media -->

    <!-- Start geo Social Media -->
    <meta name="geo.region" content="Lima"/>
    <meta name="geo.placename" content="Lima"/>
    <meta name="geo.position" content="-12.1203468, -77.0147272"/>
    <meta name="ICBM" content="-12.1203468, -77.0147272"/>
    <!-- End geo Social Media -->

    <!-- Start twitter Social Media -->
    <meta name="twitter:card" content="summary"/>
    {% block tw_meta_social %}{% endblock tw_meta_social %}
    <meta property="twitter:image" content="https://prix.tips/static/img/prixtips-og.png"/>
    <meta name="twitter:widgets:link-color" content="#0f1a36"/>
    <meta name="twitter:widgets:theme" content="dark"/>
    <!-- End twitter Social Media -->


    <!-- Meta Description -->
    {% block meta_description %}{% endblock meta_description %}

    {% block title %}
    <title>Prixtips - Busca y Compara Precios en el Perú</title>
    {% endblock title %}

    {% block styles %}
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libs -->
        <link href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.3/leaflet.css" rel="stylesheet">
<!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">-->
    <link href="/static/css/leaflet-routing-machine.css" rel="stylesheet">
<!--    <link href="/static/css/pretty-checkbox.min.css" rel="stylesheet">-->
<!--    <link href="/static/css/jquery.loading.min.css" rel="stylesheet">-->

    <!-- Custom styles for this template -->
<!--    <link href="/static/js/scrollbar/jquery.scrollbar.css" rel="stylesheet">-->
   <!-- <link href="/static/css/custom.css?v=260919_01" rel="stylesheet"> -->
        <link rel="stylesheet" href="/static/src/css/style.css?v=021019_01">
    <!-- <link href="/static/css/rebrand.css?v=300919_02" rel="stylesheet"> -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">

    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
    {% endblock styles %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119902901-10"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-119902901-10');
    </script>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-5CRKSPB');</script>
    <!-- End Google Tag Manager -->
</head>

<body style="overflow-x: hidden">
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
    window.cookieconsent.initialise({
        "palette": {
            "popup": {
                "background": "#eb6c44",
                "text": "#ffffff"
            },
            "button": {
                "background": "#f5d948"
            }
        },
        "content": {
            "message": "Este sitio web utiliza cookies para garantizar que obtenga la mejor experiencia en nuestro sitio web.",
            "dismiss": "Acepto",
            "allow": "Acepto",
            "deny": "No Acepto",
            "link": "Saber más",
            "href": "https://prix.tips/service-terms"
        }
    });
</script>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5CRKSPB"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- HEADER -->
<!--<header class="headerPrincipal resultHeader">-->
<!--        <div class="headerPrincipal__box">-->
<!--            <div class="headerPrincipal__box__content headerPrincipal__box__grid">-->
<!--                <div class="headerPrincipal__box__contentInt">-->
<!--                    <div class="headerPrincipal__box__content__logo headerPrincipal__box__content&#45;&#45;grid">-->
<!--                        <a href="#" class="headerPrincipal__box__content__logo__link"><img src="/static/img/logo-prixtips.png" class="headerPrincipal__box__content__logo__link&#45;&#45;src" alt=""></a>-->
<!--                    </div>-->
<!--                    <div class="headerPrincipal__box__contentSearch headerPrincipal__box__content&#45;&#45;grid">-->
<!--                        <form action="#" class="headerPrincipal__box__contentSearch__form">-->
<!--                            <input type="text" class="headerPrincipal__box__contentSearch__form&#45;&#45;input" placeholder="Buscar...">-->
<!--                            <button class="headerPrincipal__box__contentSearch__form&#45;&#45;buttonIco"><i class="fas fa-search"></i></button>-->
<!--                            &lt;!&ndash; <button class="headerPrincipal__box__contentSearch__form&#45;&#45;button">Buscar</button> &ndash;&gt;-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="headerPrincipal__box__content headerPrincipal__box__grid">-->
<!--                <nav class="headerPrincipal__box__contentNav">-->
<!--                    <ul class="headerPrincipal__box__contentNav__menu">-->
<!--                        <li class="headerPrincipal__box__contentNav__menuLista"><a href="#" class="headerPrincipal__box__contentNav__menuLista&#45;&#45;link">Ingreso</a></li>-->
<!--                        <li class="headerPrincipal__box__contentNav__menuLista"><a href="#" class="headerPrincipal__box__contentNav__menuLista&#45;&#45;link">Comunidad</a></li>-->
<!--                    </ul>-->
<!--                </nav>-->
<!--            </div>-->
<!--        </div>-->
<!--    </header>-->





<header class="headerPrincipal resultHeader">
    <div class="headerPrincipal__box">
        <div class="headerPrincipal__box__content headerPrincipal__box__grid">
            <div class="headerPrincipal__box__contentInt">
                <div class="headerPrincipal__box__content__logo headerPrincipal__box__content--grid">
                    <a href="/" class="headerPrincipal__box__content__logo__link"><img src="/static/img/logo-prixtips.png" class="headerPrincipal__box__content__logo__link--src" alt=""></a>
                </div>
                <div class="headerPrincipal__box__contentSearch headerPrincipal__box__content--grid">
                    <form class="headerPrincipal__box__contentSearch__form" action="search" method="get">
                        <input name="term" type="text" class="headerPrincipal__box__contentSearch__form--input" placeholder="Buscar...">
                        <button type="submit" class="headerPrincipal__box__contentSearch__form--buttonIco"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="headerPrincipal__box__content headerPrincipal__box__grid">
            <div class="headerPrincipal__box__content__bars">
                <div class="headerPrincipal__box__content__barsContent">
                        <i class="fas fa-bars headerPrincipal__box__content__barsContent--ico"></i>
                </div>
            </div>
            <nav class="headerPrincipal__box__contentNav">
                <ul class="headerPrincipal__box__contentNav__menu">
<!--                        <li class="headerPrincipal__box__contentNav__menuLista"><a href="#" class="headerPrincipal__box__contentNav__menuLista&#45;&#45;link">Ingreso</a></li>-->
                    <li class="headerPrincipal__box__contentNav__menuLista">
                    {% if current_user.is_authenticated %}
                    <a class="headerPrincipal__box__contentNav__menuLista--link" href="/account/dashboard">Dashboard</a>
                    {% else %}
                    <a class="headerPrincipal__box__contentNav__menuLista--link"  href="/account/login">Ingreso</a>
                    {% endif %}
                </li>
                    <li class="headerPrincipal__box__contentNav__menuLista"><a href="/community" class="headerPrincipal__box__contentNav__menuLista--link">Comunidad</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>



{% block content %}{% endblock content %}

<!-- FOOTER -->
<!--<footer class="footerPrincipal">-->
<!--        <div class="footerPrincipal__content">-->
<!--            <div class="footerPrincipal__content__grid">-->
<!--                <div class="footerPrincipal__content__int">-->
<!--                    <p> © 2019 APUTEK - Derechos Reservados - Libro de reclamaciones</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="footerPrincipal__content__grid">-->
<!--                <div class="footerPrincipal__content__int">-->
<!--                    <ul class="footerPrincipal__content__int__submenu">-->
<!--                        <li class="footerPrincipal__content__int__submenu__list"><a href="#" class="footerPrincipal__content__int__submenu__list&#45;&#45;link">Nosotros</a></li>-->
<!--                        <li class="footerPrincipal__content__int__submenu__list"><a href="#" class="footerPrincipal__content__int__submenu__list&#45;&#45;link">Empresa</a></li>-->
<!--                        <li class="footerPrincipal__content__int__submenu__list"><a href="#" class="footerPrincipal__content__int__submenu__list&#45;&#45;link">Corporativo</a></li>-->
<!--                        <li class="footerPrincipal__content__int__submenu__list"><a href="#" class="footerPrincipal__content__int__submenu__list&#45;&#45;link">Contactos</a></li>-->
<!--                        <li class="footerPrincipal__content__int__submenu__list"><a href="#" class="footerPrincipal__content__int__submenu__list&#45;&#45;link">FAQ</a></li>-->
<!--                        <li class="footerPrincipal__content__int__submenu__list"><a href="#" class="footerPrincipal__content__int__submenu__list&#45;&#45;link">Soporte</a></li>-->
<!--                        <li class="footerPrincipal__content__int__submenu__list"><a href="#" class="footerPrincipal__content__int__submenu__list&#45;&#45;link">Blog</a></li>-->
<!--                        <li class="footerPrincipal__content__int__submenu__list"><a href="#" class="footerPrincipal__content__int__submenu__list&#45;&#45;link">Términos</a></li>-->
<!--                        <li class="footerPrincipal__content__int__submenu__list"><a href="#" class="footerPrincipal__content__int__submenu__list&#45;&#45;link">Privacidad</a></li>-->

<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
<!--    </footer>-->


<!--<footer id="footer-container" class="section-footer section-footer&#45;&#45;front mt-auto">-->
<!--    <div class="footer-legends">-->
<!--        <div class="d-flex bd-highlight">-->
<!--            <div class="p-2 flex-fill bd-highlight">-->
<!--                <p class="derechos-aputek"> © 2019 APUTEK - Derechos Reservados - Libro de reclamaciones</p>-->
<!--            </div>-->

<!--            <div class="p-2 flex-fill bd-highlight">-->
<!--                <div class="terms-conditions text-right">-->
<!--                    <ul class="list-footer">-->
<!--                        <li class="display-mobile"><a href="https://prix.tips/about">Nosotros</a></li>-->
<!--                        <li class="display-mobile"><a href="https://prix.tips/company">Empresa</a></li>-->
<!--                        <li class="display-mobile"><a href="https://prix.tips/corporate">Corporativo</a></li>-->
<!--                        <li class="display-mobile"><a href="https://prix.tips/contacts">Contactos</a></li>-->
<!--                        <li class="display-mobile"><a href="https://prix.tips/faq">FAQ</a></li>-->
<!--                        <li class="display-mobile"><a href="https://prix.tips/support">Soporte</a></li>-->
<!--                        <li class="display-mobile"><a href="https://blog.prix.tips" target="_blank">Blog</a></li>-->
<!--                        <li><a href="https://prix.tips/service-terms">Términos</a></li>-->
<!--                        <li><a href="https://prix.tips/privacy">Privacidad</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->



<footer class="footerPrincipal">
       <div class="footerPrincipal__content">
           <div class="footerPrincipal__content__grid">
               <div class="footerPrincipal__content__int">
                   <p class="footerPrincipal__content__int__copy"> © 2019 APUTEK - Derechos Reservados - Libro de reclamaciones</p>
               </div>
           </div>
           <div class="footerPrincipal__content__grid">
               <div class="footerPrincipal__content__int">
                   <ul class="footerPrincipal__content__int__submenu">
                       <li class="footerPrincipal__content__int__submenulist"><a href="https://prix.tips/about" class="footerPrincipal__content__int__submenulist--link">Nosotros</a></li>
                       <li class="footerPrincipal__content__int__submenulist"><a href="https://prix.tips/company" class="footerPrincipal__content__int__submenulist--link">Empresa</a></li>
                       <li class="footerPrincipal__content__int__submenulist"><a href="https://prix.tips/corporate" class="footerPrincipal__content__int__submenulist--link">Corporativo</a></li>
                       <li class="footerPrincipal__content__int__submenulist"><a href="https://prix.tips/contacts" class="footerPrincipal__content__int__submenulist--link">Contactos</a></li>
                       <li class="footerPrincipal__content__int__submenulist"><a href="https://prix.tips/faq" class="footerPrincipal__content__int__submenulist--link">FAQ</a></li>
                       <li class="footerPrincipal__content__int__submenulist"><a href="https://prix.tips/support" class="footerPrincipal__content__int__submenulist--link">Soporte</a></li>
                       <li class="footerPrincipal__content__int__submenulist"><a href="https://blog.prix.tips/" class="footerPrincipal__content__int__submenulist--link">Blog</a></li>
                       <li class="footerPrincipal__content__int__submenulist"><a href="https://prix.tips/service-terms" class="footerPrincipal__content__int__submenulist--link">Términos</a></li>
                       <li class="footerPrincipal__content__int__submenulist"><a href="https://prix.tips/privacy" class="footerPrincipal__content__int__submenulist--link">Privacidad</a></li>
                   </ul>
               </div>
           </div>
       </div>
   </footer>



<!-- FOOTER -->

{% block modals %}{% endblock modals%}

{% block scripts %}

<!-- Bootstrap core JavaScript -->
<!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->

<!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.3/leaflet.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>-->

<script src="/static/js/leaflet-routing-machine.min.js"></script>

<!--<script src="/static/js/FuzzySearch.min.js"></script>-->
<!--<script src="/static/js/jquery.loading.min.js"></script>-->
<!--<script src="/static/js/jquery.ui.touch-punch.js"></script>-->
<!--<script src="/static/js/basic_auto_complete.js?v=220919_02" ></script>-->
<script src="/static/js/main.js?v=031019_v4"></script>


{% endblock scripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <!-- <script type="text/javascript">
        $(document).ready(function()
            {
            $("#btn-dropdown").on( "click", function() {
                $('#btn-dropdown-box').toggle();
                 });
            });
    </script> -->

    <script type="text/javascript">
        $(document).ready(function() {
            $('#btn-dropdown#btn-dropdown').click(function() {
                $(this).siblings('#btn-dropdown-box').toggle();
            });
        });
    </script>
    <script>
        function getVals(){

            var parent = this.parentNode;
            var slides = parent.getElementsByClassName("range_prices");
                var slide1 = parseFloat( slides[0].value );
                var slide2 = parseFloat( slides[1].value );

            if( slide1 > slide2 ){ var tmp = slide2; slide2 = slide1; slide1 = tmp; }


            // var minimo = parent.getElementsByClassName("min")[0];
            //     minimo.innerHTML = "S/ " + slide1 + "";
            // var max = parent.getElementsByClassName("max")[0];
            //     max.innerHTML = "S/ " + slide2 + "";
            // }
            var minimo = document.getElementsByClassName("min")[0];
                minimo.innerHTML = "S/ " + slide1 + "";
            var max = document.getElementsByClassName("max")[0];
                max.innerHTML = "S/ " + slide2 + "";
            }
            window.onload = function(){

            var sliderSections = document.getElementsByClassName("range-slider");
            for( var x = 0; x < sliderSections.length; x++ ){
                var sliders = sliderSections[x].getElementsByTagName("input");
                for( var y = 0; y < sliders.length; y++ ){
                if( sliders[y].type ==="range" ){
                    sliders[y].oninput = getVals;

                    sliders[y].oninput();
                }
                }
            }
            }
            // var sliderSections = document.getElementsByClassName("range-slider");
            //     for( var x = 0; x < sliderSections.length; x++ ){
            //         var sliders = sliderSections[x].getElementsByTagName("input");
            //         for( var y = 0; y < sliders.length; y++ ){
            //         if( sliders[y].type ==="range" ){
            //             sliders[y].oninput = getVals;

            //             sliders[y].oninput();
            //         }
            //         }
            //     }
            // }
    </script>
</body>
</html>
