<table style="width: 100%; background: #DCDCDC; padding: 10px;">
  <tr>
    <td>
      <center>
        <table style="width: 100%; max-width: 600px; padding: 15px; border: 2px solid #696969; background: white;">
          <tr align="center">
            <td>
              <a href="https://prix.tips">
                <img border="0" style="display: block; color: #000000; text-decoration: none; font-family: Helvetica, arial, sans-serif; font-size: 16px; max-width: 50% !important; width: 50%; height: auto !important;" src="https://marketing-image-production.s3.amazonaws.com/uploads/a66323773279ba1aec92f4f9052c39734f67a3f9b68ce608c8d4b60f168825e5e48ea82b3cb3172474ef08597353b204b26bccbddccb1d7d16e63900ec10414b.png" alt="Prixtips" width="300">
              </a>
            </td>
          </tr>
          <tr>
            <p>
              ¡Hola! Queremos informarte que tu contraseña ha sido modificada recientemente.
            </p>
            {% if security.recoverable %}
              <p>
                Si no has cambiado tu contraseña, <a href="{{ url_for_security('forgot_password', _external=True) }}">haz clic aquí para restablecerla</a>.
              </p>
            {% endif %}
          </tr>
          <tr>
            <td>
              <table align="center">
                <tbody>
                  <tr>
                    <td style="padding: 0px 5px;">
                      <a role="social-icon-link" href="https://facebook.com/prixtips" target="_blank" alt="Facebook" data-nolink="false" title="Facebook " style="-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;display:inline-block;background-color:#3B579D;">
                        <img role="social-icon" alt="Facebook" title="Facebook " height="30" width="30" style="height: 30px, width: 30px" src="https://marketing-image-production.s3.amazonaws.com/social/white/facebook.png">
                      </a>
                    </td>
                    <td style="padding: 0px 5px;">
                      <a role="social-icon-link" href="https://twitter.com/prixtips" target="_blank" alt="Twitter" data-nolink="false" title="Twitter " style="-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;display:inline-block;background-color:#7AC4F7;">
                        <img role="social-icon" alt="Twitter" title="Twitter " height="30" width="30" style="height: 30px, width: 30px" src="https://marketing-image-production.s3.amazonaws.com/social/white/twitter.png">
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>
