{% extends "base.html" %}

{% block styles %}
    {{ super( )}}
    <style type="text/css">
        .c {
            text-align: center;
            display: block;
            position: relative;
            width:80%;
            margin:100px auto;
        }
        .nf-404 {
            font-size: 220px;
            position: relative;
            display: inline-block;
            z-index: 2;
            height: 250px;
            letter-spacing: 15px;
        }
        .nf-title {
            text-align:center;
            display:block;
            position:relative;
            letter-spacing: 12px;
            font-size: 4em;
            line-height: 80%;
        }

        .nf-text {
            text-align:center;
            display:block;
            position: relative;
            font-size: 20px;
        }

        hr {
            padding: 0;
            border: none;
            border-top: 5px solid #000;
            color: #000;
            text-align: center;
            margin: 0px auto;
            width: 420px;
            height:10px;
            z-index: -10;
        }

        hr:after {
            content: "\2022";
            display: inline-block;
            position: relative;
            top: -0.75em;
            font-size: 2em;
            padding: 0 0.2em;
            background: #fff;
        }
    </style>
{% endblock %}

{% block meta_social %}
    <meta property="og:title" content="Prixtips - Página no encontrada"/>
    <meta property="og:description" content="Página no encontrada - Prixtips"/>
{% endblock %}

{% block meta_description %}
    <meta name="description" content="Página no encontrada - Prixtips">
{% endblock %}

{% block title %}
    <title>Prixtips - Página no encontrada</title>
{% endblock %}

{% block content %}
    <section class="main-page1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                  <div class='c'>
                      <div class='nf-404 mb-4 text-info'>404</div>
                      <hr>
                      <div class='nf-title text-muted mt-4 mb-3'>LO SENTIMOS</div>
                      <div class='nf-text text-muted'>NO HEMOS ENCONTRADO LO QUE BUSCAS</div>
                  </div>
                </div>
            </div>
        </div>
    </section>

    <div id="mapid"></div>
{% endblock %}
