{% extends "base.html" %}

{% block meta_social %}
    <meta property="og:title" content="Prixtips - Comunidad de Usuarios"/>
    <meta property="og:description" content="Comunidad de Usuarios - Prixtips"/>
{% endblock %}

{% block meta_description %}
    <meta name="description" content="Comunidad de Usuarios - Prixtips">
{% endblock %}

{% block title %}
    <title>Prixtips - Comunidad de Usuarios</title>
{% endblock %}

{% block search %}
    <div class="form-search">
        <form id="nav-form" class="form-inline ml-2" action="search" method="get">
            <input class="form-control mr-sm-2 search-text" type="text" placeholder="Buscar producto..." aria-label="Search" name="term" id="search_main">
            <input id="custom" type="hidden" value="true">
            <button class="btn btn-success btn-search" type="submit">
                Buscar
            </button>
            <a id="filter-bar" href="#" class="btn btn-primary ml-1">
                <i class="fa fa-filter" aria-hidden="true"></i>
            </a>
        </form>
    </div>
{% endblock %}

{% block content %}
    <section id="section-community" class="container-fluid">
        <div class="intro-community">
            <h4>
                <span class="font-weight-bold">Últimas publicaciones de la comunidad</span>
                <button id="button-new-post" class="pull-right btn btn-primary">
                    <i class="fa fa-fw fa-bullhorn"></i>
                    Publicar
                </button>
            </h4>
            <hr>
        </div>
        <div class="row">
            <div class="col">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% if posts %}
                <div class="card-columns">
                    {% for post in posts %}
                    <div class="card card-community">
                        {% if post.photo_url %}
                            <img src="{{ post.photo_url }}" class="img-thumbnail card-img-top">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-company">
                                <img src="{{ post.company_logo }}">
                            </h5>
                            {% if post.product_name %}
                                <h5 class="card-title">
                                    {{ post.product_name }}
                                </h5>
                            {% endif %}
                            <p class="mb-0 card-text">{{ post.message }}</p>
                        </div>
                        <div class="card-footer text-muted">
                            <small>
                                <div>
                                    <i class="fa fa-fw fa-user"></i>
                                    por {{ post.username }}
                                </div>
                                <div>
                                    <i class="fa fa-fw fa-clock-o"></i>
                                    <span class="timeago" title="{{ post.timestamp }}"></span>
                                </div>
                            </small>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <div class="alert alert-info" role="alert">
                    <i class="fa fa-fw fa-info-circle"></i> No se han encontrado publicaciones.
                    ¡Sé el primero!
                </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

{% block modals %}
    <div id="publish-modal" class="modal publish-modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="top: 50px!important;">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-header">
                        <h4 class="modal-title font-weight-bold">NUEVA PUBLICACIÓN</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-item">
                        <form method="post" enctype="multipart/form-data">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                <strong>{{ form.company.label }}</strong>
                                {{ form.company(class="form-control is-invalid" if form.errors.company else "form-control") }}
                                {% if form.errors.company %}
                                <div class="invalid-feedback">
                                    {% for error in form.errors.company %}
                                    {{ error }}
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <strong>{{ form.product_name.label }}</strong>
                                {{ form.product_name(id="search_community", class="form-control", placeholder="Digite el nombre del producto") }}
                            </div>
                            <div class="form-group">
                                <strong>{{ form.message.label }}</strong>
                                {{ form.message(class="form-control is-invalid" if form.errors.message else "form-control",
                                style="height: 150px;") }}
                                {% if form.errors.message %}
                                <div class="invalid-feedback">
                                    {% for error in form.errors.message %}
                                    {{ error }}
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <strong>{{ form.photo.label }}</strong>
                                <div class="custom-file">
                                    {{ form.photo(class="custom-file-input is-invalid" if form.errors.photo else "custom-file-input") }}
                                    <label class="custom-file-label" for="{{ form.photo.id }}">Selecciona una foto</label>
                                </div>
                                {% if form.errors.photo %}
                                    <div class="invalid-feedback">
                                        {% for error in form.errors.photo %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button id="button-publish" type="submit" class="btn btn-primary">
                        <i class="fa fa-bullhorn"></i> Publicar
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/js/jquery.redirect.js"></script>
    <script src="/static/js/jquery.timeago.js"></script>
    <script src="/static/js/jquery.timeago.es.js"></script>
    <script src="/static/js/svg-img.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".timeago").timeago();

            $("#button-new-post").on("click", function() {
                $("#section-community").loading({
                    message: "Cargando productos <div class='mt-2'><i class='fa fa-spinner fa-spin fa-3x fa-fw'></i></div>",
                    theme: "light",
                    stoppable: false,
                });
                $.get("/api/product-list").then(function (response) {
                    fuzzyhoundProducts.setOptions({
                        source: response.products,
                        keys: {title: "title", id: "id"}
                    });
                    $("#section-community").loading("stop");
                    $("#publish-modal").modal("show");
                });
            });

            $("#button-publish").on("click", function () {
                // Copy coords from product search
                $("#community-coords").val($("#coords").val());
                $("form").submit();
            })

            $("#photo").on("change", function(e) {
                var fileName = e.target.files[0].name;
                $(".custom-file-label").html(fileName);
            })

            {% if form.errors %}
                $("#publish-modal").modal("toggle");
            {% endif %}
        });
    </script>
{% endblock %}
