{% extends "base.html" %}

{% block meta_social %}
    <meta property="og:title" content="{{ product_name_raw }} - Prixtips - Compara Precios"/>
    <meta property="og:description" content="{{ product_name_raw }} - Prixtips - Compara Precios.  Busca y compara precios actualizados de miles de productos en tiendas de todo el Perú."/>
{% endblock %}

{% block meta_description %}
    <meta name="description" content="{{ product_name_raw }} - Prixtips - Compara Precios.  Busca y compara precios actualizados de miles de productos en tiendas de todo el Perú.">
{% endblock %}

{% block title %}
<title>{{ product_name_raw }} - Prixtips - Compara Precios</title>
{% endblock %}

{% block search %}
<div class="form-search">
    <form id="nav-form" class="form-inline ml-2" action="search" method="get">
        <input class="form-control mr-sm-2 search-text" type="text" placeholder="Buscar producto..." aria-label="Search"
               name="term" id="search_main">
        <input id="custom" type="hidden" value="true">
        <input id="coords" type="hidden" value="">
        <input id="session" type="hidden" value="{{ current_user.session }}">
        <button class="btn btn-success btn-search" type="submit">
            Buscar
        </button>
        <a id="filter-bar" href="#" class="btn btn-primary ml-1">
            <i class="fa fa-filter" aria-hidden="true"></i>
        </a>
    </form>
</div>
{% endblock %}

{% block styles %}
{{ super() }}
<!--<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">-->
{% endblock %}

{% block content %}

<!--<section id="section-filter" class="app-body app-body-inner mb-3">-->
<!--    <div class="bar-buttons">-->
<!--        <button class="btn btn-primary btn-sm" type="button" id="btn-products">-->
<!--            <img src="/static/img/productos.svg">-->
<!--        </button>-->
<!--        <button class="btn btn-primary btn-sm" type="button" id="btn-locations">-->
<!--            <img src="/static/img/mapa.svg">-->
<!--        </button>-->
<!--    </div>-->

<!--    <div id="results-container" class="compare-result d-none">-->
<!--        <div class="main-page" id="result-page" name="result-page">-->
<!--            <div id="product-area" class="cube-result">-->
<!--                <div id="product-detail">-->

<!--                        <div class="card-primary card">-->
<!--                            <div class="card-header">-->
<!--                                {{ product_name_raw }}-->
<!--                            </div>-->
<!--                            <div class="card-body-">-->
<!--                                <div class="image-container text-center"></div>-->
<!--                                <div class="actions-items text-center mt-3 mb-3" data-product-name="{{ product_name_raw }}">-->
<!--                                    <i class="add-to-favorite fa {{ 'fa-heart' if is_favorite else 'fa-heart-o' }} fa-2x {{ 'text-danger' if is_favorite else 'text-muted' }} mr-2"-->
<!--                                       data-toggle="tooltip" data-placement="bottom" title="Favorito"-->
<!--                                       style="cursor: pointer;"></i>-->
<!--                                    <i class="update-in-shopping-list fa fa-list-ul fa-2x mr-2 text-light-blue"-->
<!--                                       data-toggle="tooltip" data-placement="bottom" title="Lista de compras"-->
<!--                                       style="cursor: pointer;"></i>-->
<!--                                    <i class="fa fa-twitter-square fa-2x mr-2 text-info" style="cursor: pointer;"-->
<!--                                       onclick="shareCompareToTwitter()" data-toggle="tooltip" data-placement="bottom"-->
<!--                                       title="" data-original-title="Compartir en Twitter"></i>-->
<!--                                    <i class="fa fa-facebook-square fa-2x mr-2 text-primary" style="cursor: pointer;"-->
<!--                                       onclick="shareCompareToFacebook()" data-toggle="tooltip" data-placement="bottom"-->
<!--                                       title="" data-original-title="Compartir en Facebook"></i>-->
<!--                                    <i class="fa fa-clone fa-2x mr-2 text-dark" style="cursor: pointer;"-->
<!--                                       onclick="copyCompareLink()" data-toggle="tooltip" data-placement="bottom" title=""-->
<!--                                       data-original-title="Copiar enlace"></i>-->
<!--                                    <span class='align-middle link-copied text-success font-weight-bold'-->
<!--                                          style='font-size: 13px;'></span>-->
<!--                                </div>-->
<!--    &lt;!&ndash;                            <table class="table table-bordered" style="width: 100%;"></table>&ndash;&gt;-->

<!--                            </div>-->

<!--                        </div>-->
<!--                    <div class="resultProduct__content__grid">-->
<!--                        <div class="resultProduct__contentBrands" id="tab_stores">-->
<!--                            <div class="resultProduct__contentBrands__box">-->
<!--                                <div class="resultProduct__contentBrands__boxContent">-->

<!--                                    <div class="resultProduct__contentBrands__box__grid">-->
<!--                                        <div class="resultProduct__contentBrands__boxInt">-->
<!--                                            <div class="resultProduct__contentBrands__boxInt__img">-->
<!--                                                <div class="resultProduct__contentBrands__boxInt__imgInt">-->
<!--                                                    <img src="img/lacuracao.png" alt="" class="resultProduct__contentBrands__boxInt__imgInt&#45;&#45;src">-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            &lt;!&ndash; <a href="#" class="resultProduct__contentBrands__boxInt__common">-->
<!--                                                <p class="resultProduct__contentBrands__boxInt__common&#45;&#45;txt">Ver ubicación</p>-->
<!--                                            </a> &ndash;&gt;-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="resultProduct__contentBrands__box__grid">-->
<!--                                        <div class="resultProduct__contentBrands__boxInt">-->
<!--                                            <div class="resultProduct__contentBrands__boxInt__price">-->
<!--                                                <p class="resultProduct__contentBrands__boxInt__price&#45;&#45;txt">S/ 7.90</p>-->
<!--                                            </div>-->
<!--                                            &lt;!&ndash; <a  href="#"class="resultProduct__contentBrands__boxInt__common">-->
<!--                                                <p href="#" class="resultProduct__contentBrands__boxInt__common&#45;&#45;txt">Comprar</p>-->
<!--                                            </a> &ndash;&gt;-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="resultProduct__contentBrands__box__grid">-->
<!--                                        <div class="resultProduct__contentBrands__boxInt">-->
<!--                                            <div class="resultProduct__contentBrands__boxInt__offer">-->
<!--                                                <p class="resultProduct__contentBrands__boxInt__offer&#45;&#45;txt">Oferta</p>-->
<!--                                            </div>-->
<!--                                            &lt;!&ndash; <div class="resultProduct__contentBrands__boxInt__common">-->
<!--                                                <p class="resultProduct__contentBrands__boxInt__common&#45;&#45;txt resultProduct__contentBrands__boxInt__common&#45;&#45;txtAnimatee">Restricciones</p>-->
<!--                                            </div> &ndash;&gt;-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="resultProduct__contentBrands__box__bottom">-->
<!--                                    <div class="resultProduct__contentBrands__box__bottom__grid">-->
<!--                                        <a  href="#"class="resultProduct__contentBrands__box__bottom__grid__common">-->
<!--                                            <p class="resultProduct__contentBrands__box__bottom__grid__common&#45;&#45;txt">Ver ubicación</p>-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                    <div class="resultProduct__contentBrands__box__bottom__grid">-->
<!--                                        <a  href="#"class="resultProduct__contentBrands__box__bottom__grid__common">-->
<!--                                            <p class="resultProduct__contentBrands__box__bottom__grid__common&#45;&#45;txt">Comprar</p>-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                    <div class="resultProduct__contentBrands__box__bottom__grid">-->
<!--                                        <div  href="#"class="resultProduct__contentBrands__box__bottom__grid__common">-->
<!--                                            <p class="resultProduct__contentBrands__box__bottom__grid__common&#45;&#45;txt">Restricciones</p>-->
<!--                                            <div class="resultProduct__contentBrands__box__bottom__grid__common__restrict"  style="display: none">-->
<!--                                                <div class="resultProduct__contentBrands__box__bottom__grid__common__restrictBox">-->
<!--                                                    <p class="resultProduct__contentBrands__box__bottom__grid__common__restrictBox&#45;&#45;txt">Válido a partir de 4 productos</p>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            &lt;!&ndash; <p class="resultProduct__contentBrands__box__bottom__grid__common&#45;&#45;tooltip"></p> &ndash;&gt;-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; <p class="resultProduct__contentBrands__box__text">* Válido a partir de  4 productos</p> &ndash;&gt;-->
<!--                            </div>-->
<!--                            <div class="resultProduct__contentBrands__box">-->
<!--                                <div class="resultProduct__contentBrands__boxContent">-->
<!--                                    <div class="resultProduct__contentBrands__box__grid">-->
<!--                                        <div class="resultProduct__contentBrands__boxInt">-->
<!--                                            <div class="resultProduct__contentBrands__boxInt__img">-->
<!--                                                <div class="resultProduct__contentBrands__boxInt__imgInt">-->
<!--                                                    <img src="img/lacuracao.png" alt="" class="resultProduct__contentBrands__boxInt__imgInt&#45;&#45;src">-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            &lt;!&ndash; <a href="#" class="resultProduct__contentBrands__boxInt__common">-->
<!--                                                <p class="resultProduct__contentBrands__boxInt__common&#45;&#45;txt">Ver ubicación</p>-->
<!--                                            </a> &ndash;&gt;-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="resultProduct__contentBrands__box__grid">-->
<!--                                        <div class="resultProduct__contentBrands__boxInt">-->
<!--                                            <div class="resultProduct__contentBrands__boxInt__price">-->
<!--                                                <p class="resultProduct__contentBrands__boxInt__price&#45;&#45;txt">S/ 7.90</p>-->
<!--                                            </div>-->
<!--                                            &lt;!&ndash; <a  href="#"class="resultProduct__contentBrands__boxInt__common">-->
<!--                                                <p href="#" class="resultProduct__contentBrands__boxInt__common&#45;&#45;txt">Comprar</p>-->
<!--                                            </a> &ndash;&gt;-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="resultProduct__contentBrands__box__grid">-->
<!--                                        <div class="resultProduct__contentBrands__boxInt">-->
<!--                                            <div class="resultProduct__contentBrands__boxInt__offer">-->
<!--                                                <p class="resultProduct__contentBrands__boxInt__offer&#45;&#45;txt">Oferta</p>-->
<!--                                            </div>-->
<!--                                            &lt;!&ndash; <div class="resultProduct__contentBrands__boxInt__common">-->
<!--                                                <p class="resultProduct__contentBrands__boxInt__common&#45;&#45;txt resultProduct__contentBrands__boxInt__common&#45;&#45;txtAnimatee">Restricciones</p>-->
<!--                                            </div> &ndash;&gt;-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="resultProduct__contentBrands__box__bottom">-->
<!--                                    <div class="resultProduct__contentBrands__box__bottom__grid">-->
<!--                                        <a  href="#"class="resultProduct__contentBrands__box__bottom__grid__common">-->
<!--                                            <p class="resultProduct__contentBrands__box__bottom__grid__common&#45;&#45;txt">Ver ubicación</p>-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                    <div class="resultProduct__contentBrands__box__bottom__grid">-->
<!--                                        <a  href="#"class="resultProduct__contentBrands__box__bottom__grid__common">-->
<!--                                            <p class="resultProduct__contentBrands__box__bottom__grid__common&#45;&#45;txt">Comprar</p>-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                    <div class="resultProduct__contentBrands__box__bottom__grid">-->
<!--                                        <div  href="#"class="resultProduct__contentBrands__box__bottom__grid__common">-->
<!--                                            <p class="resultProduct__contentBrands__box__bottom__grid__common&#45;&#45;txt">Restricciones</p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; <p class="resultProduct__contentBrands__box__text">* Válido a partir de  4 productos</p> &ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="main-maps">-->
<!--        <div id="mapDIV">-->
<!--            <div id="map-holder">-->
<!--                <div id="map"></div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->


<main class="resultProduct">
        <div class="resultProduct__grid">
            <div class="resultProduct__title">
                <h2 class="resultProduct__title--txt">BEBIDA LÁCTEA MILO ACTIV-GO CHOCOLATE SIX PACK X CAJA 165 ML</h2>
            </div>
            <div class="resultProduct__content">
                <div class="resultProduct__content__grid">
                    <div class="resultProduct__contentProduct">
                        <div class="resultProduct__contentProduct__img">
                            <div class="resultProduct__contentProduct__imgInt">
                                <img id="compareProductImage" src="img/milo.jpg" alt="" class="resultProduct__contentProduct__imgInt--src">
                            </div>
                        </div>
                        <div class="resultProduct__contentProduct__offer">
<!--                            <p class="resultProduct__contentProduct__offer__percen"><span class="resultProduct__contentProduct__offer__percen&#45;&#45;txt">Ahorra hasta</span><span class="resultProduct__contentProduct__offer__percen&#45;&#45;number">11%</span></p>-->
                        </div>
                        <div class="resultProduct__contentProduct__icons" data-product="{{ product_name_raw }}">
                            <div class="resultProduct__contentProduct__icons__tool resultProduct__contentProduct__icons__tool--list">
                                <i id="add-shopping-list" class="fas fa-list-ol resultProduct__contentProduct__icons__tool--list--i"></i>
                            </div>
                            <div class="resultProduct__contentProduct__icons__tool resultProduct__contentProduct__icons__tool--compare">
                                <i class="far fa-clone resultProduct__contentProduct__icons__tool--compare--i" onclick="copyCompareLink()"></i>
                            </div>
                            <div class="resultProduct__contentProduct__icons__tool resultProduct__contentProduct__icons__tool--facebook">
                                <i class="fab fa-facebook-square resultProduct__contentProduct__icons__tool--facebook--i" onclick="shareCompareToFacebook()"></i>
                            </div>
                            <div class="resultProduct__contentProduct__icons__tool resultProduct__contentProduct__icons__tool--twitter">
                                <i class="fab fa-twitter-square resultProduct__contentProduct__icons__tool--twitter--i" onclick="shareCompareToTwitter()"></i>
                            </div>
                            <div class="resultProduct__contentProduct__icons__tool resultProduct__contentProduct__icons__tool--heart resultProduct__contentProduct__icons__tool--heartSelect">
                                <i class="far fa-heart resultProduct__contentProduct__icons__tool--heart--i resultProduct__contentProduct__icons__tool--heart--iSelect add-to-favorite fa {{ 'fa-heart' if is_favorite else 'fa-heart-o' }}"></i>
                            </div>
                            <div class="resultProduct__contentProduct__icons__tool resultProduct__contentProduct__icons__tool--email">
                                <i class="far fa-envelope resultProduct__contentProduct__icons__tool--email--i" data-product="{{ product_name_raw }}" data-type="email" onclick="alert_product(this)"></i>
                            </div>
                            <div class="resultProduct__contentProduct__icons__tool resultProduct__contentProduct__icons__tool--whatsapp">
                                <i class="fab fa-whatsapp resultProduct__contentProduct__icons__tool--whatsapp--i" data-product="{{ product_name_raw }}" data-type="whatsapp" onclick="alert_product(this)"></i>
                            </div>
                            <div class="resultProduct__contentProduct__icons__tool resultProduct__contentProduct__icons__tool--telegram">
                                    <!-- fab fa-telegram -->
                                <i class="fab fa-telegram-plane resultProduct__contentProduct__icons__tool--telegram--i" data-product="{{ product_name_raw }}" data-type="telegram" onclick="alert_product(this)"></i>
                            </div>
                        
                        </div>
                    </div>
                </div>
                <div class="resultProduct__content__grid">
                    <div class="resultProduct__contentBrands" id="contentBrandsPrice">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="resultProduct__grid">
            <div class="main-maps">
                <div id="mapDIV">
                    <div id="map-holder">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>

    </main>


{% endblock %}

{% block modals %}
<div id="shopping-list-modal" class="modal shopping-list-modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-item">
                    <div class="mb-3">
                        <strong>Agregar o quitar de tus listas de compras:</strong>
                    </div>
                    <input id="shopping-list-product-name" type="hidden" value="">
                    <div id="shopping-lists-container"></div>
                    <hr>
                    <div>
                        <button id="shopping-list-toggle-btn" type="button"
                                class="btn btn-link btn-sm text-decoration-none">
                            <strong>NUEVA LISTA</strong>
                        </button>
                        <div id="create-shopping-list-form" class="d-none">
                            <div class="form-group">
                                <input id="new-list-name" type="text" maxlength="100" class="form-control"
                                       placeholder="Nombre de la lista">
                                <div class="invalid-feedback"></div>
                            </div>
                            <button id="create-shopping-list-btn" type="button"
                                    class="btn btn-link btn-sm text-decoration-none float-right mb-3">
                                <strong>CREAR</strong>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/static/js/jquery.redirect.js"></script>
<!--<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>-->
<!--<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>-->
<!--<script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>-->
<script src="/static/js/scrollbar/jquery.scrollbar.js"></script>
<script src="/static/js/bootstrap-notify.min.js"></script>
<script src="/static/js/svg-img.js"></script>
<script src="/static/js/panels.js"></script>
<script src="/static/js/geo.js?v=230819_1"></script>
<script src="/static/js/dropdown.js?v=021019_v4"></script>

<script src="/static/js/getlocation.js?=031019_v6"></script>
<script src="/static/js/alert-product.js?=031019_v13"></script>

{{script_block|safe}}
<script type="text/javascript">
    function toggleCreateList(event) {
        $("#shopping-list-modal #new-list-name").val("");
        $("#shopping-list-modal #new-list-name").removeClass("is-invalid");
        $("#shopping-list-modal #create-shopping-list-form .invalid-feedback").html("");
        $("#shopping-list-modal #shopping-list-toggle-btn").addClass("d-none");
        $("#shopping-list-modal #create-shopping-list-form").removeClass("d-none");
    }

    function newList(event) {
        var listName = $("#shopping-list-modal #new-list-name").val();
        if (!listName) {
            $("#shopping-list-modal #new-list-name").addClass("is-invalid");
            $("#shopping-list-modal #new-list-name").siblings(".invalid-feedback").html("El nombre es requerido");
        } else {
            $.ajax({
                url: "/new-shopping-list",
                dataType: "json",
                method: "post",
                data: {
                    list_name: listName
                },
                success: function (response) {
                    $("#shopping-list-modal #shopping-lists-container .text-muted").remove();
                    var checkboxHtml = "" +
                        "<div class='form-check mb-2'>" +
                        "<input class='shopping-list-item form-check-input' type='checkbox' value='" + response.slug + "'>" +
                        "<label class='form-check-label'>" +
                        listName +
                        "</label>" +
                        "</div>";
                    $("#shopping-list-modal #shopping-lists-container").append(checkboxHtml);

                    // Reset create form
                    $("#shopping-list-modal #shopping-list-toggle-btn").removeClass("d-none");
                    $("#shopping-list-modal #create-shopping-list-form").addClass("d-none");
                },
                error: function (response) {
                    $("#shopping-list-modal #new-list-name").addClass("is-invalid");
                    $("#shopping-list-modal #create-shopping-list-form .invalid-feedback").html(response.responseJSON.message);
                }
            });
        }
    }

    $(document).ready(function () {
        map.locate({setView: true, maxZoom: 15});
        var coords = $("#coords").val();

        Comparer("{{ product_name|safe }}", coords, true);

        // Add product to favorites
        $("body").on("click", ".add-to-favorite", addProductToFavorites);

        // Links for buying
        $("body").on("click", ".buy-link", buyProduct);

        // Add product to shopping list
            $("body").on("click", "i#add-shopping-list", getShoppingLists);
            $("body").on("change", ".shopping-list-item", updateProductInShoppingList);

        $("#search_main").focus(function () {
            $(".dropdown-menu").dropdown("hide")
        });

        $("#shopping-list-modal #shopping-list-toggle-btn").on("click", toggleCreateList);

        $("#shopping-list-modal #create-shopping-list-btn").on("click", newList);

        $(".scrollbar-inner").scrollbar();
    });
</script>

{% endblock %}
