{% extends "base.html" %}

{% block meta_social %}
<meta property="og:title" content="{{ term }} - Prixtips - Busca Precios"/>
<meta property="og:description"
      content="{{ term }} - Prixtips Busca Precios.  Busca y compara precios actualizados de miles de productos en tiendas de todo el Perú."/>
{% endblock %}

{% block meta_description %}
<meta name="description"
      content="{{ term }} - Prixtips - Busca Precios.  Busca y compara precios actualizados de miles de productos en tiendas de todo el Perú.">
{% endblock %}

{% block title %}
<title>{{ term }} - Prixtips - Busca Precios</title>
{% endblock %}

{% block search %}
<div class="form-search">
    <form id="nav-form" class="form-inline ml-2" action="search" method="get">
        <input class="form-control mr-sm-2 search-text ui-autocomplete-input" type="text"
               placeholder="Buscar producto..." aria-label="Search" name="term" id="search_main" onfocus="this.value=''"
               autocomplete="off">
        <button class="btn btn-success btn-search" type="submit">
            Buscar
        </button>
        <a id="filter-bar" href="#" class="btn btn-primary ml-1">
            <i class="fa fa-filter" aria-hidden="true"></i>
        </a>
    </form>
</div>
<!--<form id="nav-form" class="form-inline ml-2" action="search" method="get">-->
<!--            <input class="form-control mr-sm-2 search-text ui-autocomplete-input" type="text" placeholder="Buscar producto..." aria-label="Search" name="term" id="search_main" onfocus="this.value=''" autocomplete="off">-->
<!--            <button class="btn btn-success btn-search" type="submit">-->
<!--                Buscar-->
<!--            </button>-->
<!--            <a id="filter-bar" href="#" class="btn btn-primary ml-1">-->
<!--                <i class="fa fa-filter" aria-hidden="true"></i>-->
<!--            </a>-->
<!--        </form>-->
{% endblock %}

{% block styles %}
{{ super() }}
<!--    <link href="/static/css/jquery.dynatable.css" rel="stylesheet">-->
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">
<link href="/static/css/slide.css" rel="stylesheet">
<!--    <script src="/static/js/construct_filt.js?v=260919_v6"></script>-->
{% endblock %}

{% block content %}
<!-- TOOLBAR FILTER -->
<div id="result">
<div class="resultFilters">
        <!-- Inicio Buscador -->
        <form action="#" class="resultFilters__form">
            <input type="text" class="resultFilters__form--input" placeholder="Buscar...">
            <!-- <button class="resultFilters__form--buttonIco"><i class="fas fa-search"></i></button> -->
        </form>
        <!-- Fin Buscador -->

        <!-- Inicio Icono Filtro Responsive -->
        <div class="resultFilters__bars">
            <li class="resultFilters__bars__list"><i class="fas fa-filter resultFilters__bars__list--ico"></i></li>
        </div>
        <!-- Fin Icono Filtro Responsive -->

        <!-- Inicio Filtros -->
        <ul class="resultFilters resultFiltersResponsive">
            <li class="resultFilters__int">
                <div class="resultFilters__int__price">
                    <span id="span_min" class="min resultFilters__int__price--min"></span>
                    <section class="resultFilters__int--slider resultFilters__int__price--slider range-slider">
                            <input class="range_prices" value="0" min="50" max="280" step="1" type="range" id="min_price">
                            <input class="range_prices" value="280" min="0" max="280" step="1" type="range" id="max_price">
                    </section>
                    <span id="span_max" class="max resultFilters__int__price--max"></span>
                </div>
            </li>
            <li class="button-dropdown resultFilters__int">
                <a href="javascript:void(0)" class="dropdown-toggle resultFilters__int__button resultFilters__int__button--brand">Marcas<span>▼</span>
                </a>
                <ul class="dropdown-menu resultFilters__int__drop chk_brands">
                    <li class="resultFilters__int__drop__list">
                        <label for="#" class="resultFilters__int__drop__list__label">
                            <input type="checkbox" class="resultFilters__int__drop__list__label--button">
                            <p class="resultFilters__int__drop__list__label--text">Hiraoka</p>
                        </label>
                    </li>
                    <li class="resultFilters__int__drop__list">
                        <label for="#" class="resultFilters__int__drop__list__label">
                            <input type="checkbox" class="resultFilters__int__drop__list__label--button">
                            <p class="resultFilters__int__drop__list__label--text">Hiraoka</p>
                        </label>
                    </li>
                </ul>
            </li>
            <li class="button-dropdown resultFilters__int">
                <a href="javascript:void(0)" class="dropdown-toggle resultFilters__int__button resultFilters__int__button--brand">Tiendas<span>▼</span>
                </a>
                <ul class="dropdown-menu resultFilters__int__drop chk_stores">
                    <li class="resultFilters__int__drop__list">
                        <label for="#" class="resultFilters__int__drop__list__label">
                            <input type="checkbox" class="resultFilters__int__drop__list__label--button">
                            <p class="resultFilters__int__drop__list__label--text">Hiraoka</p>
                        </label>
                    </li>
                    <li class="resultFilters__int__drop__list">
                        <label for="#" class="resultFilters__int__drop__list__label">
                            <input type="checkbox" class="resultFilters__int__drop__list__label--button">
                            <p class="resultFilters__int__drop__list__label--text">Hiraoka</p>
                        </label>
                    </li>
                </ul>
            </li>
            <li class="resultFilters__int">
                <button id="custom-compare" class="resultFilters__int__button resultFilters__int__button--brand resultFilters__int__button resultFilters__int__button--compare">Comparar <span class="resultFilters__int__button--comparePercen">(<span id="product-counter">0</span>)</span></button>
            </li>
            <li class="resultFilters__int">
                <button class="resultFilters__int__button resultFilters__int__button--brand">Aplicar</button>
            </li>
        </ul>
        <!-- Fin Filtros -->
        <!-- Fin Filtros -->
    </div>
    <div id="compare-product-list" class="mt-3 mb-3 collapse" style="font-size: 14px;">
        <div class="card card-body">
            <div class="list-container">
                Esta lista está vacía. Agrega los productos que quieres comparar desde la lista
                de abajo.
            </div>
            <div class="form-group">
                <button id="btn-custom-compare" type="button" class="btn btn-secondary btn-sm d-none">
                    Comparar
                </button>
                <button id="btn-reset-compare" type="button" class="btn btn-secondary btn-sm d-none">
                    Limpiar
                </button>
            </div>
        </div>
    </div>
</div>
<!--    <section id="section-toolbar" class="fixed-toolbar">-->
<!--        <div class="card">-->
<!--            <div class="card-body">-->
<!--                <div id="controls">-->
<!--                    <div class="form-inline form-inline-grid">-->
<!--&lt;!&ndash;                        <input id="filter-product" class="form-control form-control-sm mr-2 sear" data-dynatable-query="name" data-dynatable-query-event="change" type="text" value="" placeholder="Filtrar por nombre" />&ndash;&gt;-->
<!--                        <input id="filter-min-price" class="form-control mr-2 sear" data-dynatable-query="min-price" data-dynatable-query-event="change" type="number" placeholder="Precio Minimo" style="Display : none"/>-->
<!--                        <input id="filter-max-price" class="form-control mr-2 sear" data-dynatable-query="max-price" data-dynatable-query-event="change" type="number"  placeholder="Precio Maximo" style="Display : none"/>-->

<!--                        <div id="span-slider" class="text-center"></div>-->
<!--                        <div id="span-comp"></div>-->
<!--                        <div id="span-brands"></div>-->

<!--                        <input id="filter-company" class="form-control mr-2 sear" data-dynatable-query="company" data-dynatable-query-event="change" type="text" value="" style="display : none"/>-->
<!--                        <input id="filter-brand" class="form-control mr-2 sear" data-dynatable-query="brand" data-dynatable-query-event="change" type="text" value="" style="display : none"/>-->
<!--                        <button id="clear-btn" type="button" class="btn btn-sm btn-primary mr-2">Limpiar</button>-->
<!--                        <button id="custom-compare" type="button" class="btn btn-sm btn-primary filter-hidden">-->
<!--                            Comparar (<span id="product-counter">0</span>)-->
<!--                        </button>-->
<!--                        <button id="search-actions" class="btn btn-sm btn-primary filter-hidden"><i class="fa fa-fw fa-search"></i></button>-->
<!--                    </div>-->
<!--                    <div id="compare-product-list" class="collapse mt-3 mb-3" style="font-size: 14px;">-->
<!--                        <div class="card card-body">-->
<!--                            <div class="list-container">-->
<!--                                Esta lista está vacía. Agrega los productos que quieres comparar desde la lista-->
<!--                                de abajo.-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <button id="btn-custom-compare" type="button" class="btn btn-secondary btn-sm d-none">-->
<!--                                    Comparar-->
<!--                                </button>-->
<!--                                <button id="btn-reset-compare" type="button" class="btn btn-secondary btn-sm d-none">-->
<!--                                    Limpiar-->
<!--                                </button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div id="search-management" class="collapse mt-3 mb-3" style="font-size: 14px;">-->
<!--                        <div class="card card-body">-->
<!--                            <div id="my-searches">-->
<!--                                <p style="color: #6C707C;">No has guardado ninguna búsqueda</p>-->
<!--                            </div>-->
<!--                            <hr style="margin-left: 5px; margin-right: 5px;">-->
<!--                            <div class="form-group">-->
<!--                                <button id="save-search" class="btn btn-secondary btn-sm">-->
<!--                                    Guardar esta búsqueda-->
<!--                                </button>-->
<!--                                <button id="delete-search" class="btn btn-secondary btn-sm">-->
<!--                                    Eliminar esta búsqueda-->
<!--                                </button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!-- END TOOLBAR FILTER -->

<!--    <section id="section-filter" class="app-body app-bodyResult">-->
<!--        <div id="results-container" class="list-result">-->
<!--            <div class="main-page" id="result-page" name="result-page">-->
<!--                <div id="product-area" class="cube-result"></div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->

<main id="resultBody" class="resultBody">
</main>
<div id="map" class="d-none"></div>

<section class="pageSearch">
    <div class="pageSearch__content">
        <ul class="pageSearch__content__main">

        </ul>
    </div>
</section>

<div id="compare-modal" class="modal compare-modal fade" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-item">
                        <div class="item-description">
                            <div class="child modal-image"></div>
                            <div class="child modal-actions"></div>
                        </div>
                        <div class="modal-table-container table-responsive"><div id="DataTables_Table_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer"><div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row"><div class="col-sm-12"><table class="table table-bordered dataTable no-footer" style="width: 100%;" id="DataTables_Table_1" role="grid"><thead><tr role="row"><th class="sorting_disabled text-center align-middle" rowspan="1" colspan="1" style="width: 0px;">PRODUCTO</th><th class="sorting_disabled text-center align-middle" rowspan="1" colspan="1" style="width: 0px;">PRECIO</th><th class="sorting_disabled text-center align-middle" rowspan="1" colspan="1" style="width: 0px;">COMPAÑÍA</th></tr></thead><tbody><tr role="row" class="odd"><td class=" text-center align-middle">LECHE CONDENSADA NESTLÉ LATA 100 G</td><td class=" text-center align-middle">
                    <div class="font-weight-bold">2.30</div>
                    <div>
                        <small class="text-success align-text-bottom font-weight-bold">
                            Online
                        </small>
                    </div>
                    <div>

                    <a href="https://www.metro.pe/leche-condensada-nestle-lata-100-g-3543/p" target="_blank" class="ml-1 font-weight-bold buy-link small align-text-bottom" data-company="Metro">
                       Comprar
                    </a>

                    </div>

                </td><td class=" text-center align-middle">
                    <img onclick="showRoute(this)" data-product="LECHE CONDENSADA NESTLÉ LATA 100 G" data-company="Metro" src="/static/img/logos/metro.png" style="cursor: pointer;">
                </td></tr><tr role="row" class="even"><td class=" text-center align-middle">LECHE CONDENSADA NESTLÉ LATA 100 G</td><td class=" text-center align-middle">
                    <div class="font-weight-bold">2.30</div>
                    <div>
                        <small class="text-success align-text-bottom font-weight-bold">
                            Regular
                        </small>
                    </div>
                    <div>

                    <a href="https://www.wong.pe/leche-condensada-nestle-lata-100-g-3543/p" target="_blank" class="ml-1 font-weight-bold buy-link small align-text-bottom" data-company="Wong">
                       Comprar
                    </a>

                    </div>

                </td><td class=" text-center align-middle">
                    <img onclick="showRoute(this)" data-product="LECHE CONDENSADA NESTLÉ LATA 100 G" data-company="Wong" src="/static/img/logos/wong.png" style="cursor: pointer;">
                </td></tr><tr role="row" class="odd"><td class=" text-center align-middle">LECHE CONDENSADA NESTLÉ DOYPACK 90 G</td><td class=" text-center align-middle">
                    <div class="font-weight-bold">2.40</div>
                    <div>
                        <small class="text-success align-text-bottom font-weight-bold">
                            Online
                        </small>
                    </div>
                    <div>

                    <a href="https://www.metro.pe/leche-condensada-nestle-doypack-90-g-543004/p" target="_blank" class="ml-1 font-weight-bold buy-link small align-text-bottom" data-company="Metro">
                       Comprar
                    </a>

                    </div>

                </td><td class=" text-center align-middle">
                    <img onclick="showRoute(this)" data-product="LECHE CONDENSADA NESTLÉ DOYPACK 90 G" data-company="Metro" src="/static/img/logos/metro.png" style="cursor: pointer;">
                </td></tr><tr role="row" class="even"><td class=" text-center align-middle">LECHE CONDENSADA NESTLÉ DOYPACK 90 G</td><td class=" text-center align-middle">
                    <div class="font-weight-bold">2.40</div>
                    <div>
                        <small class="text-success align-text-bottom font-weight-bold">
                            Regular
                        </small>
                    </div>
                    <div>

                    <a href="https://www.wong.pe/leche-condensada-nestle-doypack-90-g-543004/p" target="_blank" class="ml-1 font-weight-bold buy-link small align-text-bottom" data-company="Wong">
                       Comprar
                    </a>

                    </div>

                </td><td class=" text-center align-middle">
                    <img onclick="showRoute(this)" data-product="LECHE CONDENSADA NESTLÉ DOYPACK 90 G" data-company="Wong" src="/static/img/logos/wong.png" style="cursor: pointer;">
                </td></tr></tbody></table></div></div><div class="row"><div class="col-sm-12 col-md-5"></div><div class="col-sm-12 col-md-7"></div></div></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modals %}
<!--    <div id="compare-modal" class="modal compare-modal fade" tabindex="-1" role="dialog" aria-hidden="true">-->
<!--        <div class="modal-dialog modal-md" role="document">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-body">-->
<!--                    <div class="modal-header">-->
<!--                        <h5 class="modal-title"></h5>-->
<!--                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                            <span aria-hidden="true">&times;</span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div class="modal-item">-->
<!--                        <div class="item-description">-->
<!--                            <div class="child modal-image"></div>-->
<!--                            <div class="child modal-actions"></div>-->
<!--                        </div>-->
<!--                        <div class="modal-table-container table-responsive"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<div id="shopping-list-modal" class="modal shopping-list-modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-item">
                    <div class="mb-3">
                        <strong>Agregar o quitar de tus listas de compras:</strong>
                    </div>
                    <input id="shopping-list-product-name" type="hidden" value="">
                    <div id="shopping-lists-container"></div>
                    <hr>
                    <div>
                        <button id="shopping-list-toggle-btn" type="button"
                                class="btn btn-link btn-sm text-decoration-none">
                            <strong>NUEVA LISTA</strong>
                        </button>
                        <div id="create-shopping-list-form" class="d-none">
                            <div class="form-group">
                                <input id="new-list-name" type="text" maxlength="100" class="form-control"
                                       placeholder="Nombre de la lista">
                                <div class="invalid-feedback"></div>
                            </div>
                            <button id="create-shopping-list-btn" type="button"
                                    class="btn btn-link btn-sm text-decoration-none float-right mb-3">
                                <strong>CREAR</strong>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<!--    <script src="/static/js/jquery.redirect.js"></script>-->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>

<!--    <script src="/static/js/jquery.dynatable.js"></script>-->
<script src="/static/js/bootstrap-notify.min.js"></script>
<script src="/static/js/svg-img.js"></script>
<script src="/static/js/panels.js"></script>
{{script_block|safe}}
<!--    <script type="text/javascript">-->
<!--        function initDropDowns(allMenus) {-->

<!--            allMenus.children(".trigger").on("click", function(e) {-->

<!--                e.stopPropagation();-->

<!--                var thisTrigger = jQuery(this),-->
<!--                    thisMenu = thisTrigger.parent(),-->
<!--                    thisPanel = thisTrigger.next();-->

<!--                if (thisMenu.hasClass("open")) {-->

<!--                    thisMenu.removeClass("open");-->

<!--                    jQuery(document).off("click");-->

<!--                } else {-->

<!--                    allMenus.removeClass("open");-->
<!--                    thisMenu.addClass("open");-->

<!--                    jQuery(document).on("click", function() {-->
<!--                        allMenus.removeClass("open");-->
<!--                    });-->
<!--                }-->
<!--            });-->
<!--        }-->

<!--        menus = $("div.dropMenu");-->
<!--        initDropDowns(menus);-->
<!--    </script>-->

<script>

    let expanded = false;
    const multiSelect = document.querySelector('.multiselect');

    multiSelect.addEventListener('click', function(e) {
    const checkboxes = document.getElementById("checkboxes");
        if (!expanded) {
        checkboxes.style.display = "block";
        expanded = true;
    } else {
        checkboxes.style.display = "none";
        expanded = false;
    }
    e.stopPropagation();
    }, true)

    document.addEventListener('click', function(e){
    if (expanded) {
        checkboxes.style.display = "none";
        expanded = false;
    }
    }, false);
//

let expandeddos = false;
const multiSelectdos = document.querySelector('.multiselectdos');

multiSelectdos.addEventListener('click', function(e) {
  const checkboxesdos = document.getElementById("checkboxesdos");
     if (!expandeddos) {
    checkboxesdos.style.display = "block";
    expandeddos = true;
  } else {
    checkboxesdos.style.display = "none";
    expandeddos = false;
  }
  e.stopPropagation();
}, true)

document.addEventListener('click', function(e){
  if (expandeddos) {
    checkboxesdos.style.display = "none";
    expandeddos = false;
  }
}, false)

// $(function() {

// 	initDropDowns($("div.dropMenu"));

// });

// function initDropDowns(allMenus) {

// 	allMenus.children(".trigger").on("click", function(e) {

//     	e.stopPropagation();

// 		var thisTrigger = jQuery(this),
// 			thisMenu = thisTrigger.parent(),
// 			thisPanel = thisTrigger.next();

// 		if (thisMenu.hasClass("open")) {

//       		thisMenu.removeClass("open");

//       		jQuery(document).off("click");

// 		} else {

//     		allMenus.removeClass("open");
// 			thisMenu.addClass("open");

// 			jQuery(document).on("click", function() {
// 				allMenus.removeClass("open");
// 			});
// 		}
// 	});
// }
    //     $(document).ready(function(){
    //     // Show hide popover
    //     $(".dropdown").click(function(){
    //         $(this).siblings(".dropdown-menu").slideToggle("fast");

    //         // $(this).siblings(".dropdown-menu").addClass("claseimportante");
    //     });
    //     // function whichDiv(e){
    //     // var div=document.getElementById('hola');
    //     // var target=e?e.target:event.srcElement;
    //     // if(target!==div)
    //     //     div.style.display = "none";
    //     // }
    //     // document.onclick=whichDiv
    // });

    // $(document).on("click", function(event){
    //     var $trigger = $(".dropdown");
    //     if($trigger !== event.target && !$trigger.has(event.target).length){
    //         $(".dropdown-menu").slideUp("fast");
    //     }
    // });


</script>


<script type="text/javascript">
        var selectedCompareProductsNames = [];

        function toggleCreateList(event) {
            $("#shopping-list-modal #new-list-name").val("");
            $("#shopping-list-modal #new-list-name").removeClass("is-invalid");
            $("#shopping-list-modal #create-shopping-list-form .invalid-feedback").html("");
            $("#shopping-list-modal #shopping-list-toggle-btn").addClass("d-none");
            $("#shopping-list-modal #create-shopping-list-form").removeClass("d-none");
        }

        function newList(event) {
            var listName = $("#shopping-list-modal #new-list-name").val();
            if (!listName) {
                $("#shopping-list-modal #new-list-name").addClass("is-invalid");
                $("#shopping-list-modal #new-list-name").siblings(".invalid-feedback").html("El nombre es requerido");
            } else {
                jq.ajax({
                    url: "/new-shopping-list",
                    dataType: "json",
                    method: "post",
                    data: {
                        list_name: listName
                    },
                    success: function (response) {
                        $("#shopping-list-modal #shopping-lists-container .text-muted").remove();
                        var checkboxHtml = "" +
                            "<div class='form-check mb-2'>" +
                                "<input class='shopping-list-item form-check-input' type='checkbox' value='" + response.slug + "'>" +
                                "<label class='form-check-label'>" +
                                    listName +
                                "</label>" +
                            "</div>";
                        $("#shopping-list-modal #shopping-lists-container").append(checkboxHtml);

                        // Reset create form
                        $("#shopping-list-modal #shopping-list-toggle-btn").removeClass("d-none");
                        $("#shopping-list-modal #create-shopping-list-form").addClass("d-none");
                    },
                    error: function (response) {
                        $("#shopping-list-modal #new-list-name").addClass("is-invalid");
                        $("#shopping-list-modal #create-shopping-list-form .invalid-feedback").html(response.responseJSON.message);
                    }
                });
            }
        }

        $(document).ready(function () {
            // Compare all selected products
            $("body").on("click", "i#add-list-compare", customCompareProduct);

            // Add product to favorites
            $("body").on("click", "i#add-favorite-list", addProductToFavorites);

            // Add product to shopping list
            $("body").on("click", "i#add-shopping-list", getShoppingLists);
            $("body").on("change", ".shopping-list-item", updateProductInShoppingList);

            $("#search_main").focus(function () {
                $(".dropdown-menu").dropdown("hide")
            });

            // Pagination triggers scrolling
            $("body").on("click", "#dynatable-pagination-links-product-list a[data-dynatable-page]", function(event) {
                if (!$(event.target).hasClass("dynatable-disabled-page")) {
                    $("html, body").animate({
                        scrollTop: 0
                    }, 600);
                }
            });




            // Handle collasing classes
            $("#custom-compare").on("click", function () {
                $("#search-management").collapse("hide");
                $("#compare-product-list").collapse("toggle");
            });

            $("#search-actions").on("click", function () {
                $("#compare-product-list").collapse("hide");
                $("#search-management").collapse("toggle");
            });

            $("#btn-custom-compare").on("click", function (e) {
                var coords = $("#coords").val();
                var single = false;
                console.log("aqui");
                Comparer(selectedCompareProductsNames, coords, single);
            });

            $("#btn-reset-compare").on("click", function (e) {
                selectedCompareProductsNames = [];
                $("#btn-custom-compare").addClass("d-none");
                $("#btn-reset-compare").addClass("d-none");
                $("#compare-product-list .list-container").html("Esta lista está vacía. Agrega los productos que quieres comparar desde la lista de abajo.");
                $("#product-counter").html("0");
            });

            $("#search-actions").on("click", function (e) {
                $(".dropdown-menu").dropdown();
            });

            $("#save-search, #delete-search").on("click", function (e) {
                var term = $("#search_main").val();
                var remove = true;
                if (e.target.id == "save-search") {
                    remove = false;
                }
                updateFavoriteSearch(term, remove);
            });

            $("#filter-bar").on("click", function (e) {
               $("#section-toolbar").toggleClass("d-none");
            });

            $("#shopping-list-modal #shopping-list-toggle-btn").on("click", toggleCreateList);

            $("#shopping-list-modal #create-shopping-list-btn").on("click", newList);

            $("#clear-btn").on("click", function(event) {
                $("#filter-product").val("");
                $("#filter-product").trigger("change");

                // Clear companies
                $("#span-comp input:checkbox").prop("checked", "checked");
                $("#span-comp input:checkbox").trigger("click");

                // Clear brands
                $("#span-brands input:checkbox").prop("checked", "checked");
                $("#span-brands input:checkbox").trigger("click");

                // Clear prices
                var options = $("#slider-range").slider("option");
                $("#slider-range").slider("values", [options.min, options.max]);
                $("#min-price").html('S/ ' + options.min);
                $("#max-price").html('S/ ' + options.max);
                $("#filter-min-price").val(options.min);
                $("#filter-min-price").trigger("change");
                $("#filter-max-price").val(options.max);
                $("#filter-max-price").trigger("change");

                $("#section-filter").scrollTop($("#section-filter").scrollTop(0));
            });
        });


</script>

{% endblock %}
