{% extends "base.html" %}

{% block meta_social %}
    <meta property="og:title" content="Prixtips - Soporte"/>
    <meta property="og:description" content="Soporte - Prixtips"/>
{% endblock %}

{% block meta_description %}
    <meta name="description" content="Soporte - Prixtips">
{% endblock %}

{% block title %}
    <title>Prixtips - Soporte</title>
{% endblock %}

{% block content %}
    <section class="mb-3" style="margin-top: 70px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <form method="post" enctype="multipart/form-data" style="max-width: 100%;" novalidate>
                        {{ form.hidden_tag() }}
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Formulario de Soporte</h3>
                            </div>
                            <div class="card-body">
                                <div class="alert alert-info" role="alert">
                                    ¿Tienes alguna sugerencia?, ¿no has encontrado el producto que
                                    buscas y te gustaría verlo?, ¿tienes algún problema que te
                                    gustaría solucionar?
                                </div>
                                <div class="form-group">
                                    {{ form.feedback.label }} {% if form.feedback.flags.required %}<span
                                        class="text-danger">*</span>{% endif %}
                                    {{ form.feedback(class="form-control is-invalid" if form.errors.feedback else "form-control", style="height: 200px;") }}
                                    {% if form.errors.feedback %}
                                    <div class="invalid-feedback">
                                        {% for error in form.errors.feedback %}
                                        {{ error }}
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                                <input type="submit" class="btn btn-primary" value="Enviar">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
