<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
        <!-- Favicon-->
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/static/img/icon/apple-touch-icon-57x57.png"/>
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/img/icon/apple-touch-icon-114x114.png"/>
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/img/icon/apple-touch-icon-72x72.png"/>
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/img/icon/apple-touch-icon-144x144.png"/>
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/static/img/icon/apple-touch-icon-60x60.png"/>
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/static/img/icon/apple-touch-icon-120x120.png"/>
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/static/img/icon/apple-touch-icon-76x76.png"/>
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/static/img/icon/apple-touch-icon-152x152.png"/>
        <link rel="icon" type="image/png" href="/static/img/icon/favicon-196x196.png" sizes="196x196"/>
        <link rel="icon" type="image/png" href="/static/img/icon/favicon-96x96.png" sizes="96x96"/>
        <link rel="icon" type="image/png" href="/static/img/icon/favicon-32x32.png" sizes="32x32"/>
        <link rel="icon" type="image/png" href="/static/img/icon/favicon-16x16.png" sizes="16x16"/>
        <link rel="icon" type="image/png" href="/static/img/icon/favicon-128.png" sizes="128x128"/>
        <meta name="application-name" content="prixtips"/>
        <meta name="msapplication-TileColor" content="#FFFFFF"/>
        <meta name="msapplication-TileImage" content="/static/img/icon/mstile-144x144.png"/>
        <meta name="msapplication-square70x70logo" content="/static/img/icon/mstile-70x70.png"/>
        <meta name="msapplication-square150x150logo" content="/static/img/icon/mstile-150x150.png"/>
        <meta name="msapplication-wide310x150logo" content="/static/img/icon/mstile-310x150.png"/>
        <meta name="msapplication-square310x310logo" content="/static/img/icon/mstile-310x310.png"/>
        <!-- Author Meta -->
        <meta name="author" content="Aputek">

        <!-- Start Dublin Core Schema -->
        <link rel="schema.DC" href="//purl.org/dc/terms/">
        <meta name="DC.title" content="Prixtips - Dashboard">
        <meta name="DC.description" content="Dashboard - Panel del Configuración del Usuario">
        <meta name="DC.language" content="es">
        <meta name="DC.created" content="19/03/2019 05:12:07">
        <meta name="DC.modified" content="19/03/2019 05:12:07">
        <meta name="DC.creator" content="Prixtips">
        <meta name="DC.publisher" content="Prixtips">
        <!-- Start Dublin Core Schema -->

        <!-- Start Meta Social Media -->
        <meta property="og:locale" content="es_PE"/>
        <meta property="og:type" content="website"/>
        {% block meta_social %}{% endblock meta_social %}
        <meta property="og:url" content="https://prix.tips"/>
        <meta property="og:site_name" content="Prixtips"/>
        <meta property="article:publisher" content="https://www.facebook.com/prixtips"/>
        <meta property="article:author" content="https://www.facebook.com/franky.cunza"/>
        <meta property="article:tag" content="webdev"/>
        <meta property="article:tag" content="webperf"/>
        <meta property="fb:app_id" content="2146530282273320"/>
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="1200" />
        <meta property="og:image" content="https://prix.tips/static/img/prixtips-og.png"/>
        <meta property="og:image" content="https://prix.tips/static/img/prixtips-og2.png"/>
        <meta property="og:image:secure_url" content="https://prix.tips/static/img/prixtips-og.png"/>
        <!-- End Meta Social Media -->

        <!-- Start Dublin Core Schema -->
        <link rel="schema.DC" href="//purl.org/dc/terms/">
        <meta name="DC.title" content="Prixtips - Busca y Compara Precios en el Perú">
        <meta name="DC.description" content="Dashboard - Panel del Configuración del Usuario">
        <meta name="DC.language" content="es">
        <meta name="DC.created" content="19/03/2019 05:12:07">
        <meta name="DC.modified" content="19/03/2019 05:12:07">
        <meta name="DC.creator" content="Prixtips">
        <meta name="DC.publisher" content="Prixtips">
        <!-- Start Dublin Core Schema -->

        <!-- Start geo Social Media -->
        <meta name="geo.region" content="Lima" />
        <meta name="geo.placename" content="Lima" />
        <meta name="geo.position" content="-12.1203468, -77.0147272" />
        <meta name="ICBM" content="-12.1203468, -77.0147272" />
        <!-- End geo Social Media -->


        <!-- Start twitter Social Media -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="Prixtips - Dashboard" />
        <meta name="twitter:description" content="Dashboard - Panel del Configuración del Usuario" />
        <meta property="twitter:image" content="https://prix.tips/static/img/prixtips-og.png" />
        <meta name="twitter:widgets:link-color" content="#0f1a36" />
        <meta name="twitter:widgets:theme" content="dark" />
        <!-- End twitter Social Media -->

        <!-- Meta Description -->
        <meta name="description" content="Dashboard - Panel del Configuración del Usuario">

        {% block title %}
            <title>Prixtips - Dashboard</title>
        {% endblock title %}

        {% block styles %}
            <link href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" rel="stylesheet">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
            <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
            <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css">
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="/assets/css/cs-skin-elastic.css">
            <link rel="stylesheet" href="/assets/css/themify-icons.css">
            <link rel="stylesheet" href="/assets/scss/style.css">
            <link rel="stylesheet" href="/assets/scss/socials.css">
        {% endblock styles %}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119902901-10"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());
            gtag('config', 'UA-119902901-10');
        </script>
        <!-- Google Tag Manager -->
        <script>(function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5CRKSPB');</script>
        <!-- End Google Tag Manager -->
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5CRKSPB"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        <!-- Left Panel -->
        <aside id="left-panel" class="left-panel">
            <nav class="navbar navbar-expand-sm navbar-default">

                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
                            aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/"><img src="/static/img/logo_prixtips_100.png" alt="Logo"></a>
                    <a class="navbar-brand hidden" href="/"><img src="/static/img/isotipo_small_70.png" alt="Logo"></a>
                </div>

                <div id="main-menu" class="main-menu collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="{% if request.path == '/dashboard' %}active{% endif %}">
                            <a href="dashboard"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                        </li>
                        <h3 class="menu-title">Preferencias</h3><!-- /.menu-title -->
                        <!--                <li>
                                            <a href="user_profile"> <i class="menu-icon fa fa-user"></i>Perfil de Usuario</a>
                                        </li>-->
                        <li class="menu-item-has-children dropdown {% if request.path.startswith('/account/user_') %}active show{% endif %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="{% if request.path.startswith('/account/user_') %}true{% else %}false{% endif %}"> <i class="menu-icon fa fa-user"></i>Perfil de Usuario</a>
                            <ul class="sub-menu children dropdown-menu {% if request.path.startswith('/account/user_') %}show{% endif %}">
                                <li class="{% if request.path == '/account/user_profile' %}active{% endif %}">
                                    <i class="fa fa-vcard"></i>
                                    <a href="/account/user_profile">Identidad</a>
                                </li>
                                <li class="{% if request.path == '/account/user_password' %}active{% endif %}">
                                    <i class="fa fa-user-secret"></i>
                                    <a href="/account/user_password">Contraseña</a>
                                </li>
                                <li class="{% if request.path == '/account/user_address' %}active{% endif %}">
                                    <i class="fa fa-home"></i>
                                    <a href="/account/user_address">Domicilio</a>
                                </li>
                                <li class="{% if request.path == '/account/user_work' %}active{% endif %}">
                                    <i class="fa fa-industry"></i>
                                    <a href="/account/user_work">Trabajo</a>
                                </li>
                                <!-- <li><i class="fa fa-users"></i><a href="/account/user_social">Redes Sociales</a></li> -->
                                <li class="{% if request.path == '/account/user_phone' %}active{% endif %}">
                                    <i class="fa fa-phone"></i>
                                    <a href="/account/user_phone">Teléfono</a>
                                </li>
                            </ul>
                        </li>
                        <li class="{% if request.path == '/account/shopping_list' %}active{% endif %}">
                            <a href="/account/shopping_list"> <i class="menu-icon fa fa-list-ul"></i>Listas de Compras</a>
                        </li>
                        <li class="{% if request.path == '/account/favorites' %}active{% endif %}">
                            <a href="/account/favorites"> <i class="menu-icon fa fa-heart"></i>Favoritos</a>
                        </li>
                        <li class="{% if request.path == '/account/posts' %}active{% endif %}">
                            <a href="/account/posts"> <i class="menu-icon fa fa-bullhorn"></i>Publicaciones</a>
                        </li>

                        <h3 class="menu-title"></h3><!-- /.menu-title -->
                        <li>
                            <a href="/account/logout"> <i class="menu-icon fa fa-sign-out"></i>Salir</a>
                        </li>

                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </aside><!-- /#left-panel -->

        <!-- Left Panel -->

        <!-- Right Panel -->

        <div id="right-panel" class="right-panel">
            <!-- Header-->
            <header id="header" class="header">

                <div class="header-menu">
                    <div class="col-sm-7">
                        <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    </div>

                    <div class="col-sm-5">

                        <div class="header-left">
                            <!-- <div class="dropdown for-notification float-left">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="notification"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-bell"></i>
                                    <span class="count bg-danger">5</span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="notification">
                                    <p class="red">You have 3 Notification</p>
                                    <a class="dropdown-item media bg-flat-color-1" href="#">
                                        <i class="fa fa-check"></i>
                                        <p>Server #1 overloaded.</p>
                                    </a>
                                    <a class="dropdown-item media bg-flat-color-4" href="#">
                                        <i class="fa fa-info"></i>
                                        <p>Server #2 overloaded.</p>
                                    </a>
                                    <a class="dropdown-item media bg-flat-color-5" href="#">
                                        <i class="fa fa-warning"></i>
                                        <p>Server #3 overloaded.</p>
                                    </a>
                                </div>
                            </div> -->

                            <!-- <div class="dropdown for-message float-left">
                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                        id="message"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti-email"></i>
                                    <span class="count bg-primary">9</span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="message">
                                    <p class="red">You have 4 Mails</p>
                                    <a class="dropdown-item media bg-flat-color-1" href="#">
                                        <span class="photo media-left"><img alt="avatar" src="images/avatar/1.jpg"></span>
                                        <span class="message media-body">
                                            <span class="name float-left">Jonathan Smith</span>
                                            <span class="time float-right">Just now</span>
                                                <p>Hello, this is an example msg</p>
                                        </span>
                                    </a>
                                    <a class="dropdown-item media bg-flat-color-4" href="#">
                                        <span class="photo media-left"><img alt="avatar" src="images/avatar/2.jpg"></span>
                                        <span class="message media-body">
                                            <span class="name float-left">Jack Sanders</span>
                                            <span class="time float-right">5 minutes ago</span>
                                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                                        </span>
                                    </a>
                                    <a class="dropdown-item media bg-flat-color-5" href="#">
                                        <span class="photo media-left"><img alt="avatar" src="images/avatar/3.jpg"></span>
                                        <span class="message media-body">
                                            <span class="name float-left">Cheryl Wheeler</span>
                                            <span class="time float-right">10 minutes ago</span>
                                                <p>Hello, this is an example msg</p>
                                        </span>
                                    </a>
                                    <a class="dropdown-item media bg-flat-color-3" href="#">
                                        <span class="photo media-left"><img alt="avatar" src="images/avatar/4.jpg"></span>
                                        <span class="message media-body">
                                            <span class="name float-left">Rachel Santos</span>
                                            <span class="time float-right">15 minutes ago</span>
                                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                                        </span>
                                    </a>
                                </div>
                            </div> -->
                            {% if current_user.picture_url %}
                                <div class="dropdown for-notification float-right">
                                    <img class="img-thumbnail" src="{{ current_user.picture_url}}" width="50">
                                </div>
                            {% endif %}
                        </div>
                    </div>

                </div>

            </header><!-- /header -->
            <!-- Header-->

            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}

            {% block content %}{% endblock content %}
        </div><!-- /#right-panel -->

        <!-- Right Panel -->
        <!-- -->
        {% block footer %}{% endblock footer %}

        {% block modals %}{% endblock modals %}

        {% block scripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
            <script src="/static/js/bootstrap-notify.min.js"></script>
            <script src="/assets/js/plugins.js"></script>
            <script src="/assets/js/main.js"></script>
        {% endblock scripts %}
    </body>
</html>
