{% extends 'dashboard/base.html' %}

{% block content %}
    <div class="breadcrumbs">
        <div class="col-sm-8 offset-sm-4">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="/account/dashboard">Dashboard</a></li>
                        <li>Publicaciones</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content mt-3">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Publicaciones</strong>
                </div>
                <div class="card-body">
                    <div class="alert alert-info" role="alert">
                        <i class="fa fa-fw fa-info-circle"></i> En esta sección encontrarás las
                        publicaciones que has hecho en la <a href="/community" target="_blank" style="color: #0056b3;"><strong>Comunidad</strong></a>.
                    </div>
                    {% if posts %}
                        <div class="card-columns">
                            {% for post in posts %}
                                <div class="card">
                                    {% if post.photo_url %}
                                        <img src="{{ post.photo_url }}" class="card-img-top cropped">
                                    {% endif %}
                                    <div class="card-body">
                                        <h5 class="card-title text-primary">{{ post.company_name }}</h5>
                                        {% if post.product_name %}
                                            <p class="card-text text-success">{{ post.product_name }}</p>
                                        {% endif %}
                                        <p class="mb-0 card-text text-body">{{ post.message }}</p>
                                    </div>
                                    <div class="card-footer text-muted">
                                        <small>
                                            <i class="fa fa-fw fa-clock-o"></i>
                                            <span class="timeago" title="{{ post.timestamp }}"></span>
                                        </small>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col">
                                <p class="text-body">No se han encontrado publicaciones.</p>
                                <p class="text-body">
                                    ¡Ingresa a la <a href="/community" target="_blank" style="color: #0056b3;"><strong>Comunidad</strong></a>
                                    y crea tu primera publicación!
                                </p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/js/jquery.timeago.js"></script>
    <script src="/static/js/jquery.timeago.es.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".timeago").timeago();
        });
    </script>
{% endblock %}
