{% extends 'dashboard/base.html' %}

{% block content %}
    <div class="breadcrumbs">
        <div class="col-sm-8 offset-sm-4">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="/account/dashboard">Dashboard</a></li>
                        <li>Favoritos</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content mt-3">
        <form method="post" enctype="multipart/form-data" class="form-horizontal">
            <div class="row">
                <div class="col-md-12">
                    {{ form.hidden_tag() }}
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Productos</strong>
                        </div>
                        <div class="card-body">
                            {% if favorite_products|length >= max_favorites %}
                                <div class="alert-container">
                                    <div class="alert alert-warning" role="alert">
                                        ¡Has alcanzado la cantidad máxima de productos favoritos!
                                    </div>
                                    <hr>
                                </div>
                            {% endif %}

                            <div class="product-list">
                                {% for ff in form.products %}
                                    <div class="product-row">
                                        <div class="row form-group">
                                            {{ ff.form.hidden_tag() }}
                                            <div class="col-md-2">
                                              <label for="product-name" class=" form-control-label">
                                                  <strong>Producto</strong>
                                              </label>
                                            </div>
                                            <div class="col-md-8">
                                              {{ ff.form.product_name.data }}
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btn btn-danger remove-product" type="button" onclick="removeProduct('{{ ff.form._prefix }}');">Quitar</button>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-md-2">
                                              <label class=" form-control-label">
                                                  <strong>Alertas</strong>
                                              </label>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="form-check">
                                                    <div class="checkbox">
                                                        <label for="checkbox1" class="form-check-label ">
                                                            {{ ff.form.email_alert(class="form-check-input") }}
                                                            <i class="fa fa-envelope-o fa-fw text-danger"></i> Email
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label for="checkbox3" class="form-check-label ">
                                                            {{ ff.form.telegram_alert(class="form-check-input") }}
                                                            <i class="fa fa-telegram fa-fw text-info"></i> Telegram
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label for="checkbox2" class="form-check-label ">
                                                            {{ ff.form.whatsapp_alert(class="form-check-input") }}
                                                            <i class="fa fa-whatsapp fa-fw text-success"></i> Whatsapp
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% if not loop.last %}
                                            <hr/>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            ¡No tienes productos favoritos!
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card-footer">
                            {{ form.submit_products(class="btn btn-primary") }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form.hidden_tag() }}
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Búsquedas</strong>
                        </div>
                        <div class="card-body">
                            {% if favorite_searches|length >= max_favorites %}
                                <div class="alert-container">
                                    <div class="alert alert-warning" role="alert">
                                        ¡Has alcanzado la cantidad máxima de búsquedas favoritas!
                                    </div>
                                    <hr>
                                </div>
                            {% endif %}

                            <div class="search-list">
                                {% for ff in form.searches %}
                                    <div class="search-row">
                                        <div class="row form-group">
                                            {{ ff.form.hidden_tag() }}
                                            <div class="col-md-2">
                                              <label for="product-name" class=" form-control-label">
                                                  <strong>Término</strong>
                                              </label>
                                            </div>
                                            <div class="col-md-8">
                                              {{ ff.form.term.data }}
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btn btn-danger remove-search" type="button" onclick="removeSearch('{{ ff.form._prefix }}');">Quitar</button>
                                            </div>
                                        </div>
                                        {% if not loop.last %}
                                            <hr/>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            ¡No tienes búsquedas favoritas!
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card-footer">
                            {{ form.submit_searches(class="btn btn-primary") }}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        function removeProduct(prefix) {
            var elemId = "#" + prefix + "product_name"
            $(elemId).val("");
            $(".card-body .alert-container").remove();
            var totalProducts = $(".product-list").find(".product-row:visible").length;
            if (totalProducts == 1) {
                $(".product-list").append(
                    '<div class="row">' +
                        '<div class="col-md-12 text-center">' +
                            '¡No tienes productos favoritos!' +
                        '</div>' +
                    '</div>'
                );
            }
            $(elemId).parents(".product-row").hide();
        }

        function removeSearch(prefix) {
            var elemId = "#" + prefix + "term"
            $(elemId).val("");
            $(".card-body .alert-container").remove();
            var totalSearches = $(".search-list").find(".search-row:visible").length;
            if (totalSearches == 1) {
                $(".search-list").append(
                    '<div class="row">' +
                        '<div class="col-md-12 text-center">' +
                            '¡No tienes búsquedas favoritas!' +
                        '</div>' +
                    '</div>'
                );
            }
            $(elemId).parents(".search-row").hide();
        }
    </script>
{% endblock %}
