{% extends 'dashboard/base.html' %}

{% block content %}
    <div class="breadcrumbs">
        <div class="col-sm-8 offset-sm-4">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="/account/dashboard">Dashboard</a></li>
                        <li><a href="#">Perfil</a></li>
                        <li class="active">Teléfono</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <strong>Teléfono</strong>
                </div>
                <form action="" method="post" class="">
                  <div class="card-body card-block">
                    <div class="form-group">
                        <label for="mobile" class=" form-control-label">Teléfono móvil</label>
                        <input type="text" id="mobile" name="mobile" placeholder="987645321" class="form-control" maxlength="15" value="{{ current_user.mobile or '' }}">
                    </div>
                  </div>
                  <div class="card-footer">
                      <button type="submit" class="btn btn-primary btn-sm">
                          <i class="fa fa-dot-circle-o"></i> Guardar
                      </button>
                      <button type="reset" class="btn btn-danger btn-sm">
                          <i class="fa fa-ban"></i> Resetear
                      </button>
                  </div>
                </form>
            </div>
        </div>
    </div> <!-- .content -->
{% endblock %}
