{% extends 'dashboard/base.html' %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content %}
    <div class="breadcrumbs">
        <div class="col-sm-8 offset-sm-4">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="/account/dashboard">Dashboard</a></li>
                        <li><a href="#">Perfil</a></li>
                        <li class="active">Contraseña</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <strong>Modificar contraseña</strong>
                </div>
                <form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form" novalidate>
                    <div class="card-body card-block">
                        {{ change_password_form.hidden_tag() }}
                        {% if current_user.password %}
                          <div class="form-group">
                              {{ render_field_with_errors(change_password_form.password, class='form-control is-invalid' if change_password_form.errors.password else 'form-control') }}
                          </div>
                        {% else %}
                            <div class="alert-container">
                                <div class="alert alert-info" role="alert">
                                    Actualmente tu cuenta no tiene definida una contraseña. Completa
                                    el siguiente formulario para definirla.
                                </div>
                            </div>
                        {% endif %}
                        <div class="form-group">
                            {{ render_field_with_errors(change_password_form.new_password, class='form-control is-invalid' if change_password_form.errors.new_password else 'form-control') }}
                        </div>
                        <div class="form-group">
                            {{ render_field_with_errors(change_password_form.new_password_confirm, class='form-control is-invalid' if change_password_form.errors.new_password_confirm else 'form-control') }}
                        </div>
                    </div>
                    <div class="card-footer">
                        {{ render_field(change_password_form.submit, class='btn btn-primary btn-sm') }}
                    </div>
                </form>
            </div>
        </div>
    </div> <!-- .content -->
{% endblock %}
