{% extends 'dashboard/base.html' %}

{% block content %}
    <div class="breadcrumbs">
        <div class="col-sm-8 offset-sm-4">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="/account/dashboard">Dashboard</a></li>
                        <li>Listas de Compras</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content mt-3">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Listas de Compras</strong>
                </div>
                <div class="card-body card-block">
                    <div class="alert alert-info" role="alert">
                        <i class="fa fa-fw fa-info-circle"></i> Usa estas listas para organizar
                        tus compras recurrentes, como tus compras de fin de semana o de fin de mes.
                    </div>
                    <div id="lists-container">
                        {% for shopping_list in shopping_lists %}
                            <div id="{{ shopping_list.slug }}" class="card shopping-list-item border-secondary">
                                <div class="card-body card-block">
                                    <h5 class="card-title mb-4">
                                        <strong id="shopping-list-name" class="text-primary">{{ shopping_list.list_name }}</strong>
                                    </h5>
                                    <div class="row form-group border-bottom product-row-header">
                                        <div class="col-md-3 text-center">
                                            <strong class="text-prixtips">NOMBRE</strong>
                                        </div>
                                        <div class="col-md-2 text-center">
                                            <strong class="text-prixtips">TÉRMINO</strong>
                                        </div>
                                        <div class="col-md-2 text-center">
                                            <strong class="text-prixtips">CANTIDAD</strong>
                                        </div>
                                        <div class="col-md-2 text-center">
                                            <strong class="text-prixtips">PRECIO</strong>
                                        </div>
                                        <div class="col-md-2 text-center">
                                            <strong class="text-prixtips">TOTAL</strong>
                                        </div>
                                    </div>
                                    {% for product in shopping_list.products|sort(attribute='name') %}
                                        <div class="row form-group product-row" style="font-size: 14px;">
                                            <div class="col-md-3">
                                                <span style="vertical-align: -webkit-baseline-middle;">
                                                    {{ product.name }}
                                                </span>
                                            </div>
                                            <div class="col-md-2">
                                                <span style="vertical-align: -webkit-baseline-middle;">
                                                    {{ product.term or '–' }}
                                                </span>
                                            </div>
                                            <div class="col-md-2">
                                                <input type="number" class="form-control" min="1" max="1000" step="1" value="{{ product.quantity }}" style="font-size: 14px; height: 2rem;">
                                            </div>
                                            <div class="col-md-2 text-right">
                                                <span class="product-unit-price" data-amount="{{ product.unit_price }}" style="vertical-align: -webkit-baseline-middle;">
                                                    {{ 'S/ {:,}'.format(product.unit_price) if product.unit_price else '–' }}
                                                </span>
                                            </div>
                                            <div class="col-md-2 text-right">
                                                <span class="product-total-price" data-amount="{{ product.total_price }}" style="vertical-align: -webkit-baseline-middle;">
                                                    {{ 'S/ {:,}'.format(product.total_price) if product.total_price else '–' }}
                                                </span>
                                            </div>
                                            <div class="col-md-1">
                                                <i class="fa fa-save fa-2x save-product" style="cursor: pointer;" data-product-name="{{ product.name }}" data-shopping-list-slug="{{ shopping_list.slug }}" data-toggle="tooltip" data-placement="bottom" title="Guardar"></i>
                                                <i class="fa fa-times-circle fa-fw fa-2x delete-product" style="cursor: pointer;" data-product-name="{{ product.name }}" data-shopping-list-slug="{{ shopping_list.slug }}" data-toggle="tooltip" data-placement="bottom" title="Eliminar"></i>
                                            </div>
                                        </div>
                                        {% if loop.last %}
                                            <div class="row form-group border-top" style="font-size: 14px;">
                                                <div class="offset-md-9 col-md-2 text-right font-weight-bold">
                                                    <span class="list-total-price" style="vertical-align: -webkit-baseline-middle;">
                                                        {{ 'S/ {:,}'.format(shopping_list.total) if shopping_list.total else '–' }}
                                                    </span>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <div class="row form-group product-row-empty">
                                            <div class="col-md-12">
                                                <span class='text-muted'>Sin productos</span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="row border-top">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-danger btn-sm mt-2" data-list-name="{{ shopping_list.list_name }}" data-slug="{{ shopping_list.slug}}" data-toggle="modal" data-target="#delete-list-modal">
                                                <i class="fa fa-trash fa-fw"></i>
                                                Eliminar
                                            </button>
                                            <button type="button" class="btn btn-secondary btn-sm mt-2" data-list-name="{{ shopping_list.list_name }}" data-slug="{{ shopping_list.slug}}" data-toggle="modal" data-target="#update-list-modal">
                                                <i class="fa fa-pencil fa-fw"></i>
                                                Cambiar nombre
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="row form-group lists-empty">
                                <div class="col-md-12">
                                    No tienes ninguna lista de compras
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-list-modal">
                        <i class="fa fa-plus"></i> Nueva lista
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modals %}
    <div id="new-list-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="new-list-header-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="new-list-header-title">Crear lista de compras</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="new-list-error"></div>
                    <label>Nombre de la lista de compras</label>
                    <input id="new-list-name" type="text" maxlength="100" class="form-control">
                    <div class="invalid-feedback"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="new-list-btn" type="button" class="btn btn-primary">Crear</button>
                </div>
            </div>
        </div>
    </div>

    <div id="delete-list-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="delete-list-header-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-list-header-title">Eliminar lista de compras</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="delete-list-slug" type="hidden" value="">
                    <div id="delete-list-error"></div>
                    <div>
                      ¿Está seguro de querer eliminar la lista de compras <span id="delete-list-name" class="font-weight-bold text-primary"></span>?
                    </div>
                    <div class="mt-3">
                      Perderá todos los productos contenidos en la lista. Esta acción no podrá ser revertida.
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="delete-list-btn" type="button" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="update-list-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="upadte-list-header-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="update-list-header-title">Cambiar nombre a lista de compras</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="update-list-slug" type="hidden" value="">
                    <div id="update-list-error"></div>
                    <label>Nombre de la lista de compras</label>
                    <input id="update-list-name" type="text" maxlength="100" class="form-control">
                    <div class="invalid-feedback"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="update-list-btn" type="button" class="btn btn-danger">Cambiar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip({delay: 500, trigger: "hover"});

            // Product actions and styles
            $(".save-product").on("mouseenter", function(event) {
                $(event.target).addClass("text-success");
            });
            $(".save-product").on("mouseleave", function(event) {
                $(event.target).removeClass("text-success");
            });
            $(".save-product").on("click", saveProduct);
            $(".delete-product").on("mouseenter", function(event) {
                $(event.target).addClass("text-danger");
            });
            $(".delete-product").on("mouseleave", function(event) {
                $(event.target).removeClass("text-danger");
            });
            $(".delete-product").on("click", deleteProduct);

            // List actions
            $("#new-list-btn").on("click", newList);
            $("#delete-list-btn").on("click", deleteList);
            $("#update-list-btn").on("click", updateList);

            // Modal events
            $("#update-list-modal").on("hidden.bs.modal", function (e) {
                $("#update-list-name").val("");
                $("#update-list-error").html("");
            });
            $("#new-list-modal").on("hidden.bs.modal", function (e) {
                $("#new-list-name").val("");
                $("#new-list-error").html("");
            });
            $("#update-list-modal").on("show.bs.modal", function (event) {
                var slug = $(event.relatedTarget).attr("data-slug");
                var listName = $(event.relatedTarget).attr("data-list-name");
                $("#update-list-modal").find('.modal-body #update-list-slug').val(slug);
                $("#update-list-modal").find('.modal-body #update-list-name').val(listName);
            });
            $("#delete-list-modal").on("show.bs.modal", function (event) {
                var slug = $(event.relatedTarget).attr("data-slug");
                var listName = $(event.relatedTarget).attr("data-list-name");
                $("#delete-list-modal").find('.modal-body #delete-list-slug').val(slug);
                $("#delete-list-modal").find('.modal-body #delete-list-name').html(listName);
            });
        });

        function deleteList() {
            var slug = $("#delete-list-slug").val();
            $.ajax({
                url: "/delete-shopping-list",
                dataType: "json",
                method: "post",
                data: {
                    slug: slug
                },
                success: function (response) {
                    $("#" + slug).remove();
                    var totalLists = $("#lists-container .shopping-list-item").length;
                    if (totalLists == 0) {
                        $("#lists-container").append(
                            "<div class='row form-group lists-empty'>" +
                                "<div class='col-md-12'>" +
                                    "No tienes ninguna lista de compras" +
                                "</div>" +
                            "</div>"
                        );
                    }
                    $("#delete-list-modal").modal("hide");
                },
                error: function (response) {
                    $("#delete-list-error").html(
                        "<div class='alert alert-" + response.responseJSON.type +"' role='alert'>" +
                            response.responseJSON.message +
                        "</div>"
                    );
                }
            });
        }

        function newList() {
            var listName = $("#new-list-name").val();
            if (!listName) {
                $("#new-list-name").addClass("is-invalid");
                $("#new-list-name").siblings(".invalid-feedback").html("El nombre es requerido");
            } else {
                $.ajax({
                    url: "/new-shopping-list",
                    dataType: "json",
                    method: "post",
                    data: {
                        list_name: listName
                    },
                    success: function (response) {
                        var totalLists = $("#lists-container .shopping-list-item").length;
                        if (totalLists == 0) {
                            $(".lists-empty").remove();
                        }
                        $("#lists-container").append(
                            "<div id='" + response.slug + "' class='card shopping-list-item border-secondary'>" +
                                "<div class='card-body card-block'>" +
                                    "<h5 class='card-title mb-4'>" +
                                        "<strong id='shopping-list-name' class='text-primary'>" + listName + "</strong>" +
                                    "</h5>" +
                                    "<div class='row form-group border-bottom product-row-header'>" +
                                        "<div class='col-md-3 text-center'>" +
                                            "<strong class='text-prixtips'>NOMBRE</strong>" +
                                        "</div>" +
                                        "<div class='col-md-2 text-center'>" +
                                            "<strong class='text-prixtips'>TÉRMINO</strong>" +
                                        "</div>" +
                                        "<div class='col-md-2 text-center'>" +
                                            "<strong class='text-prixtips'>CANTIDAD</strong>" +
                                        "</div>" +
                                        "<div class='col-md-2 text-center'>" +
                                            "<strong class='text-prixtips'>PRECIO</strong>" +
                                        "</div>" +
                                        "<div class='col-md-2 text-center'>" +
                                            "<strong class='text-prixtips'>TOTAL</strong>" +
                                        "</div>" +
                                    "</div>" +
                                    "<div class='row form-group product-row-empty'>" +
                                        "<div class='col-md-12'>" +
                                            "<span class='text-muted'>Sin productos</span>" +
                                        "</div>" +
                                    "</div>" +
                                    "<div class='row border-top'>" +
                                        "<div class='col-md-12'>" +
                                            "<button type='button' class='btn btn-danger btn-sm mt-2' data-list-name='" + listName + "' data-slug='" + response.slug + "' data-toggle='modal' data-target='#delete-list-modal'>" +
                                                "<i class='fa fa-trash fa-fw'></i>" +
                                                "Eliminar" +
                                            "</button>" +
                                            "<button type='button' class='btn btn-secondary btn-sm mt-2 ml-1' data-list-name='" + listName + "' data-slug='" + response.slug + "' data-toggle='modal' data-target='#update-list-modal'>" +
                                                "<i class='fa fa-pencil fa-fw'></i>" +
                                                "Cambiar nombre" +
                                            "</button>" +
                                        "</div>" +
                                    "</div>" +
                                "</div>" +
                            "</div>"
                        );
                        $("#new-list-modal").modal("hide");
                    },
                    error: function (response) {
                        $("#new-list-error").html(
                            "<div class='alert alert-" + response.responseJSON.type +"' role='alert'>" +
                                response.responseJSON.message +
                            "</div>"
                        );
                    }
                });
            }
        }

        function updateList() {
            var listName = $("#update-list-name").val();
            var slug = $("#update-list-slug").val();
            if (!listName) {
                $("#update-list-name").addClass("is-invalid");
                $("#update-list-name").siblings(".invalid-feedback").html("El nombre es requerido");
            } else {
                $.ajax({
                    url: "/update-shopping-list",
                    dataType: "json",
                    method: "post",
                    data: {
                        list_name: listName,
                        slug: slug
                    },
                    success: function (response) {
                        $("#" + slug + " #shopping-list-name").html(listName);
                        $("#" + slug).attr("id", response.slug);
                        $("[data-slug='" + slug + "']").attr("data-slug", response.slug).attr("data-list-name", listName);
                        $("#update-list-modal").modal("hide");
                    },
                    error: function (response) {
                        $("#new-list-error").html(
                            "<div class='alert alert-" + response.responseJSON.type +"' role='alert'>" +
                                response.responseJSON.message +
                            "</div>"
                        );
                    }
                });
            }
        }

        function saveProduct(event) {
            var shoppingListSlug = $(event.target).attr("data-shopping-list-slug");
            var productName = $(event.target).attr("data-product-name");
            var quantity = $(event.target).parents(".product-row").find("[type='number']").val();

            // Hide all tooltips
            $("[data-toggle='tooltip']").tooltip("hide");

            // Reset invalid input
            $(event.target).parents(".product-row").find("[type='number']").removeClass("is-invalid");

            if (!quantity) {
                $(event.target).parents(".product-row").find("[type='number']").addClass("is-invalid");
            } else {
                $.ajax({
                    url: "/save-product-shopping-list",
                    dataType: "json",
                    method: "post",
                    data: {
                        shopping_list_slug: shoppingListSlug,
                        product_name: productName,
                        quantity
                    },
                    success: function (response) {
                        $.notify(
                            {
                                "message": response.message
                            },
                            {
                                "allow_dismiss": false,
                                "mouse_over": "pause",
                                "placement": {
                                    "from": "bottom",
                                    "align": "center"
                                },
                                "z_index": 1060,
                                "type": "success",
                            }
                        );

                        // Update prices
                        var quantity = $(event.target).parents(".product-row").find("[type=number]").val();
                        var unitPrice = $(event.target).parents(".product-row").find(".product-unit-price").attr("data-amount");
                        var totalPrice = parseFloat(quantity) * parseFloat(unitPrice);
                        if (totalPrice) {
                          $(event.target).parents(".product-row").find(".product-total-price").attr("data-amount", totalPrice);
                          $(event.target).parents(".product-row").find(".product-total-price").text("S/ " + totalPrice.toLocaleString(undefined, {"minimumFractionDigits": 2,"maximumFractionDigits": 2}));
                        }

                        // Updating total for the shopping list
                        var total = 0.00;
                        $(event.target).parents(".shopping-list-item").find(".product-row").each(function (index, elem) {
                            var currentTotalPrice = $(elem).find(".product-total-price").attr("data-amount");
                            total += parseFloat(currentTotalPrice);
                        });
                        if (total) {
                            $(event.target).parents(".shopping-list-item").find(".list-total-price").text("S/ " + total.toLocaleString(undefined, {"minimumFractionDigits": 2,"maximumFractionDigits": 2}));
                        }
                    }
                });
            }
        }

        function deleteProduct(event) {
            var shoppingListSlug = $(event.target).attr("data-shopping-list-slug");
            var productName = $(event.target).attr("data-product-name");

            // Hide all tooltips
            $("[data-toggle='tooltip']").tooltip("hide");

            $.ajax({
                url: "/delete-product-shopping-list",
                dataType: "json",
                method: "post",
                data: {
                    shopping_list_slug: shoppingListSlug,
                    product_name: productName
                },
                success: function (response) {
                    $(event.target).parents(".product-row").remove();
                    var totalProducts = $("#" + shoppingListSlug + " .product-row").length;
                    if (totalProducts == 0) {
                        var emptyHtml =
                          "<div class='row form-group product-row-empty'>" +
                              "<div class='col-md-12'>" +
                                  "<span class='text-muted'>Sin productos</span>" +
                              "</div>" +
                          "</div>";
                        $("#" + shoppingListSlug + " .product-row-header").after(emptyHtml);
                    }
                    $.notify(
                        {
                            "message": response.message
                        },
                        {
                            "allow_dismiss": false,
                            "mouse_over": "pause",
                            "placement": {
                                "from": "bottom",
                                "align": "center"
                            },
                            "z_index": 1060,
                            "type": "success",
                        }
                    );
                }
            });
        }
    </script>
{% endblock %}
