{% extends 'dashboard/base.html' %}

{% block content %}
    <div class="breadcrumbs">
        <div class="col-sm-8 offset-sm-4">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="/account/dashboard">Dashboard</a></li>
                        <li><a href="#">Perfil</a></li>
                        <li>Identidad</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">


        <div class="col-lg-12">

            <!-- -->
            <div class="card">
                <div class="card-header">
                    <strong>Identidad</strong>
                </div>

                <form method="post" enctype="multipart/form-data" class="form-horizontal" novalidate>
                    <div class="card-body card-block">
                        {{ form.hidden_tag() }}
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="email" class=" form-control-label">Corero electrónico</label>
                            </div>
                            <div class="col-12 col-md-9">
                              {{ form.email.data }}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="full-name" class="form-control-label">
                                    Nombres y apellidos
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                              {% if form.errors.full_name %}
                                  {{ form.full_name(class='form-control is-invalid') }}
                              {% else %}
                                  {{ form.full_name(class='form-control') }}
                              {% endif %}
                              {% if form.errors.full_name %}
                                  {% for error in form.errors.full_name %}
                                      <div class="invalid-feedback">
                                          {{ error }}
                                      </div>
                                  {% endfor %}
                              {% endif %}
                              <small class="form-text text-muted">Tu nombre completo</small>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="document-id" class=" form-control-label">Documento de identidad</label>
                            </div>
                            <div class="col-12 col-md-9">
                              {% if form.errors.document_id %}
                                  {{ form.document_id(class='form-control is-invalid') }}
                              {% else %}
                                  {{ form.document_id(class='form-control') }}
                              {% endif %}
                              {% if form.errors.document_id %}
                                  {% for error in form.errors.document_id %}
                                      <div class="invalid-feedback">
                                          {{ error }}
                                      </div>
                                  {% endfor %}
                              {% endif %}
                              <small class="form-text text-muted">Tu documento de Identidad (DNI/Carné de Extranjería/Pasaporte)</small>
                            </div>
                        </div>
                      <div class="row form-group">
                          <div class="col col-md-3">
                              <label for="birth-date" class=" form-control-label">Cumpleaños</label>
                          </div>
                          <div class="col-12 col-md-9">
                            {% if form.errors.birth_date %}
                                {{ form.birth_date(class='form-control is-invalid', placeholder='DD/MM/AA') }}
                            {% else %}
                                {{ form.birth_date(class='form-control', placeholder='DD/MM/AA') }}
                            {% endif %}
                            {% if form.errors.birth_date %}
                                {% for error in form.errors.birth_date %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <small class="form-text text-muted">¿Cuándo naciste? Día/Mes/Año - Ejemplo: 17/12/87</small>
                          </div>
                      </div>
                  </div>
                  <div class="card-footer">
                      <button type="submit" class="btn btn-primary btn-sm">
                          <i class="fa fa-dot-circle-o"></i> Guardar
                      </button>
                      <button type="reset" class="btn btn-danger btn-sm">
                          <i class="fa fa-ban"></i> Resetear
                      </button>
                  </div>
              </form>
            </div>
        </div>
    </div> <!-- .content -->
{% endblock %}
