{% extends 'dashboard/base.html' %}

{% block content %}
    <div class="breadcrumbs">
        <div class="col-sm-8 offset-sm-4">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="/account/dashboard">Dashboard</a></li>
                        <li><a href="#">Perfil</a></li>
                        <li class="active">Redes sociales</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Redes Sociales</strong>
                    <!--                <strong class="card-title">3d Switch</strong>-->
                </div>
                <div class="card-body">
                    <label class="switch switch-3d switch-primary mr-3">
                        <input type="checkbox" class="switch-input" checked="true">
                        <span class="switch-label"></span>
                        <span class="switch-handle"></span>
                    </label>
                    <button type="button" class="btn btn-sm social google-plus" style="margin-bottom: 4px">
                        <i class="fa fa-google-plus"></i>
                        <span>Google+</span>
                    </button>
                </div>
                <div class="card-body">
                    <label class="switch switch-3d switch-primary mr-3">
                        <input type="checkbox" class="switch-input" checked="true">
                        <span class="switch-label"></span>
                        <span class="switch-handle"></span>
                    </label>
                    <button type="button" class="btn btn-sm social facebook" style="margin-bottom: 4px">
                        <i class="fa fa-facebook"></i>
                        <span>Facebook</span>
                    </button>
                </div>
                <div class="card-body">
                    <label class="switch switch-3d switch-primary mr-3">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label"></span>
                        <span class="switch-handle"></span>
                    </label>
                    <!--<button type="button" class="btn btn-sm social twitter" style="margin-bottom: 4px">-->
                    <button type="button" class="btn btn-sm social" style="margin-bottom: 4px">
                        <i class="fa fa-twitter"></i>
                        <span>Twitter</span>
                    </button>
                </div>
            </div>
        </div><!--/.col-->
    </div> <!-- .content -->
{% endblock %}
