{% extends 'dashboard/base.html' %}

{% block content %}
    <div class="breadcrumbs">
        <div class="col-sm-8 offset-sm-4">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="/account/dashboard">Dashboard</a></li>
                        <li><a href="#">Perfil</a></li>
                        <li class="active">Domicilio</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">


        <div class="col-lg-12">

            <!-- -->
            <div class="card">
                <div class="card-header">
                    <strong>Domicilio</strong>
                </div>

                <form method="post" enctype="multipart/form-data" class="form-horizontal">
                  <div class="card-body card-block">
                      <div class="row form-group">
                          <div class="col col-md-3">
                            <label for="home-location" class=" form-control-label">Distrito</label>
                          </div>
                          <div class="col-12 col-md-9">
                            <input type="text" id="home-location" name="home-location" placeholder="¿En qué zona vives?" class="form-control" maxlength="60" value="{{ current_user.home_location or '' }}">
                            <small class="form-text text-muted">Departamento/Provincia/Distrito</small>
                          </div>
                      </div>
                      <div class="row form-group">
                          <div class="col col-md-3">
                            <label for="home-address" class=" form-control-label">Dirección</label>
                          </div>
                          <div class="col-12 col-md-9">
                            <input type="text" id="home-address" name="home-address" class="form-control" maxlength="200" value="{{ current_user.home_address or '' }}">
                            <small class="form-text text-muted">Tu dirección</small>
                          </div>
                      </div>
                      <input type="hidden" id="home-coords" name="home-coords" value="{{ '%s,%s' % (current_user.home_coords[0], current_user.home_coords[1]) if current_user.home_coords else '' }}">
                  </div>
                  <div class="card-footer">
                      <button type="submit" class="btn btn-primary btn-sm">
                          <i class="fa fa-dot-circle-o"></i> Guardar
                      </button>
                      <button type="reset" class="btn btn-danger btn-sm">
                          <i class="fa fa-ban"></i> Resetear
                      </button>
                  </div>
                </form>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Tu Domicilio - Mueve el marcador exactamente sobre tu dirección</h4>
                </div>
                <div class="card-body">
                    <div class="map" id="map"></div>
                </div>
            </div>
            <!-- /# card -->
        </div>
    </div> <!-- .content -->
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"></script>
    <script src="/static/js/basic-geo.js"></script>
{% endblock %}
