*, body{
    font-family: 'Open Sans', sans-serif;
}

a{
    color: inherit !important;
}

a:hover{
    text-decoration: none;
}

// .leafleft-container{
//     height: 100vh;
//     width: 100%;
// }


.none{
    display: none !important;
}