.modal{
    
}
.modal-content{
    font-family: $opensans;
}
.modal-header{
    background: $color_one;
    color: #fff;
    font-family: $opensans;
}
.modal-item{
    margin-top: 10px;
}


#compare-product-list{
    font-family: 'Open Sans', sans-serif !important;
}
.list-container{

    ul{

        li{
            line-height: 2rem;
            
        }
        li + li{
            border-top: 1px solid $color_three;
        }
    }
}


.message, .alert-success{
    font-family: $opensans !important;
}


.form-group{
    margin-top: 10px;
}


.cc-window{
    background: $color_one !important;
    justify-content: center !important;
    padding: 3px 10px !important;
    max-width: 100% !important;
    width: 100% !important;


    .cc-message{
        font-size: 14px;
        flex: inherit !important;
    }
}

.cc-compliance{

    .cc-dismiss{
        background: $color_two !important;
        color: $color_three !important;
        font-size: 15px;
    }
}