.pageSearch{
    display: table;
    width: 100%;
    color: #fff;
    padding: 30px 0 10px 0;
    //background: $color_one;

    &__content{
        background: $color_two;
        &__main{
            display: table;
            margin: 0 auto;
            

            &__list{
                display: table-cell;
                // padding: .2rem;
                

                &--current > &--link{
                    background: #fff;
                    color: $color_two !important;                    
                }
                &:first-child{
                    margin-left: 0;
                }

                &--link{
                    background: $color_two;
                    text-decoration: none;
                    font-family: $opensans;
                    color: #fff !important;
                    padding: .6rem 1rem;
                    cursor: pointer;
                    font-size: 1.2rem;
                    display: block;
                    font-weight: bold;
                    box-sizing: border-box;
                    transition: all .5s;
                    border: 1px solid transparent;

                    &:hover{
                        border: 1px solid $color_two;
                        background: #fff;
                        color: $color_two !important;
                    }
                }
            }
        }
    }
}