$color_one: #FF6600;
$color_two: #16CDCD;
$color_three: #0F1A36;

$color_four: #FF0000;
$color_five: #FFB300;
$color_six: #50C900;

$color_fb: #3B5998;
$color_tw: #00ACEE;
$color_mail: #273443;
$color_ws: #4FCE5D;
$color_telegram: #0088CC;


$color_borde: #E2E2E2;

$border: 1px solid $color_borde;
$shadow: 0px 0px 15px rgba(122, 122, 122, 0.1);

$opensans: 'Open Sans', sans-serif;


