{% block doc -%}
<!DOCTYPE html>
<html {% block html_attribs %}lang="es" {% endblock html_attribs %}>
{%- block html %}
<head>
    {%- block head %}
    <title>{% block title %}{{ title|default }}{% endblock title %}</title>
    {% block meta_description %}
    {% endblock meta_description %}
    {%- block metas %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- endblock metas %}

    <!-- Author Meta -->
    <meta name="author" content="Aputek">
    <!-- Meta Description -->

    <!-- Start Dublin Core Schema -->
    <link rel="schema.DC" href="//purl.org/dc/terms/">
    <meta name="DC.title" content="Prixtips - Validación de Seguridad">
    <meta name="DC.description" content="Validación de Seguridad.">
    <meta name="DC.language" content="es">
    <meta name="DC.created" content="19/03/2019 05:12:07">
    <meta name="DC.modified" content="19/03/2019 05:12:07">
    <meta name="DC.creator" content="Prixtips">
    <meta name="DC.publisher" content="Prixtips">
    <!-- Start Dublin Core Schema -->

    <!-- Start Meta Social Media -->
    <meta property="og:locale" content="es_PE"/>
    <meta property="og:type" content="website"/>
    {% block meta_social %}{% endblock meta_social %}
    <meta property="og:url" content="https://prix.tips"/>
    <meta property="og:site_name" content="Prixtips"/>
    <meta property="article:publisher" content="https://www.facebook.com/prixtips"/>
    <meta property="article:author" content="https://www.facebook.com/franky.cunza"/>
    <meta property="article:tag" content="webdev"/>
    <meta property="article:tag" content="webperf"/>
    <meta property="fb:app_id" content="2146530282273320"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="1200"/>
    <meta property="og:image" content="https://prix.tips/static/img/prixtips-og.png"/>
    <meta property="og:image" content="https://prix.tips/static/img/prixtips-og2.png"/>
    <meta property="og:image:secure_url" content="https://prix.tips/static/img/prixtips-og.png"/>
    <!-- End Meta Social Media -->

    <!-- Start geo Social Media -->
    <meta name="geo.region" content="Lima"/>
    <meta name="geo.placename" content="Lima"/>
    <meta name="geo.position" content="-12.1203468, -77.0147272"/>
    <meta name="ICBM" content="-12.1203468, -77.0147272"/>
    <!-- End geo Social Media -->


    <!-- Start twitter Social Media -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="Prixtips - Validación de Seguridad"/>
    <meta name="twitter:description" content="Validación de Seguridad."/>
    <meta property="twitter:image" content="https://prix.tips/static/img/prixtips-og.png"/>
    <meta name="twitter:widgets:link-color" content="#0f1a36"/>
    <meta name="twitter:widgets:theme" content="dark"/>
    <!-- End twitter Social Media -->


    <link rel="icon" type="image/png" href="/static/images/favicon.png"/>

    {%- block styles %}
    <link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="/static/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="/static/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="/static/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/util.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    {%- endblock styles %}

    {%- endblock head %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119902901-10"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-119902901-10');
    </script>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-5CRKSPB');</script>
    <!-- End Google Tag Manager -->
</head>
<body {% block body_attribs %}{% endblock body_attribs %}>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5CRKSPB"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

{% block body -%}

{% block navbar %}
{%- endblock navbar %}

{% block content -%}
{%- endblock content %}

{% block scripts %}
<script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="/static/vendor/bootstrap/js/popper.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/vendor/select2/select2.min.js"></script>
<script src="/static/js/account/main.js"></script>
{%- endblock scripts %}

{%- endblock body %}
</body>
{%- endblock html %}
</html>
{% endblock doc -%}
