{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block title%}Prixtips - Recuperar cuenta{% endblock %}
{% block meta_description %}
    <meta name="description" content="Prixtips - Recuperar cuenta">
{% endblock %}

{% block content %}
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
        <form action="{{ url_for_security('forgot_password') }}" method="POST" class="login100-form validate-form" name="forgot_password_form" novalidate>
          {{ forgot_password_form.hidden_tag() }}

          <span class="login100-form-title p-b-55">
            <a href="/">
              <img src="/static/images/logo.png" width="300px">
            </a>
          </span>

          {% include "security/_messages.html" %}

          <div class="wrap-input100 validate-input m-b-16" data-validate="Ingrese un correo eletrónico válido">
            {{ forgot_password_form.email(class='input100', placeholder="Correo electrónico") }}
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <span class="lnr lnr-envelope"></span>
            </span>
          </div>
          {% if forgot_password_form.email.errors %}
            {% for error in forgot_password_form.email.errors %}
              <div class="mb-3">
                <span class="text-danger">
                  {{ error }}
                </span>
              </div>
            {% endfor %}
          {% endif %}

          <div class="container-login100-form-btn p-t-25">
            {{ render_field(forgot_password_form.submit, class='login100-form-btn') }}
          </div>

          <div class="text-center w-full p-t-50">
            <div class="txt1">
              ¿Ya tienes una cuenta? <a href="/account/login">Ingresa</a>
            </div>
            <div class="txt1">
              ¿No tienes cuenta? <a href="/account/register">Regístrate</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="/">
                        <img class="align-content" src="/static/img/logo_prixtips_300.png" alt="">
                    </a>
                </div>
                <div class="login-form">
                    {% include "security/_messages.html" %}
                    <h3 class="mt-2 mb-4">Enviar instrucciones para restablecer la contraseña</h3>
                    <form action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form" novalidate>
                        {{ forgot_password_form.hidden_tag() }}
                        <div class="form-group">
                            {{ render_field_with_errors(forgot_password_form.email, class='form-control is-invalid' if forgot_password_form.errors.email else 'form-control') }}
                        </div>
                        {{ render_field(forgot_password_form.submit, class='btn btn-primary btn-flat mt-2 m-b-30 m-t-30 mb-3') }}
                        <div class="register-link m-t-15 text-center mt-1">
                            <p>
                                ¿Ya tienes una cuenta? <a href="login"> Ingresa</a>
                            </p>
                            <p>
                                ¿No tienes cuenta? <a href="register"> Regístrate</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
