{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block title%}Prixtips - Registro{% endblock %}
{% block meta_description %}
    <meta name="description" content="Prixtips - Registro de Usuarios">
{% endblock %}

{% block content %}
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
        <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form" class="login100-form validate-form" novalidate>
          {{ register_user_form.hidden_tag() }}
          <span class="login100-form-title p-b-55">
            <a href="/">
              <img src="/static/images/logo.png" width="300px">
            </a>
          </span>

          {% include "security/_messages.html" %}

          <div class="wrap-input100 validate-input m-b-10" data-validate="Ingrese un correo eletrónico válido">
            {{ register_user_form.email(class='input100', placeholder="Correo electrónico") }}
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <span class="lnr lnr-envelope"></span>
            </span>
          </div>
          {% if register_user_form.email.errors %}
            {% for error in register_user_form.email.errors %}
              <div class="mb-3">
                <span class="text-danger">
                  {{ error }}
                </span>
              </div>
            {% endfor %}
          {% endif %}

          <div class="wrap-input100 validate-input m-b-10" data-validate="Ingrese una contraseña válida">
            {{ register_user_form.password(class='input100', placeholder="Ingrese contraseña") }}
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <span class="lnr lnr-lock"></span>
            </span>
          </div>
          {% if register_user_form.password.errors %}
            {% for error in register_user_form.password.errors %}
              <div class="mb-3">
                <span class="text-danger">
                  {{ error }}
                </span>
              </div>
            {% endfor %}
          {% endif %}

          {% if register_user_form.password_confirm %}
            <div class="wrap-input100 validate-input m-b-10" data-validate="La contraseña debe ser idéntica">
              {{ register_user_form.password_confirm(class='input100', placeholder="Confirme contraseña") }}
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <span class="lnr lnr-lock"></span>
              </span>
            </div>
            {% if register_user_form.password_confirm.errors %}
              {% for error in register_user_form.password_confirm.errors %}
                <div class="mb-3">
                  <span class="text-danger">
                    {{ error }}
                  </span>
                </div>
              {% endfor %}
            {% endif %}
          {% endif %}

          <div class="contact100-form-checkbox m-l-4">
            {{ register_user_form.conditions(class='input-checkbox100') }}
            <label class="label-checkbox100" for="{{ register_user_form.conditions.id }}">
              Acepto los términos y condiciones
            </label>
          </div>
          {% if register_user_form.conditions.errors %}
            {% for error in register_user_form.conditions.errors %}
              <div class="mb-3">
                <span class="text-danger">
                  {{ error }}
                </span>
              </div>
            {% endfor %}
          {% endif %}

          <div class="container-login100-form-btn p-t-25">
            {{ render_field(register_user_form.submit, class='login100-form-btn') }}
          </div>

          <div class="text-center w-full p-t-42 p-b-22">
            <span class="txt1">
              También puedes registrarte con
            </span>
          </div>

          <a href="/login/google" class="btn-google m-b-10">
            <img src="/static/images/icons/icon-google.png" alt="Google">
            Google
          </a>

          <a href="/login/facebook" class="btn-google m-b-10">
            <img src="/static/images/icons/icon-facebook.png" alt="Facebook">
            Facebook
          </a>

          <a href="/login/twitter" class="btn-google m-b-10">
            <img src="/static/images/icons/icon-twitter.png" alt="Twitter">
            Twitter
          </a>

          <div class="text-center w-full p-t-50">
            <div class="txt1">
              ¿Ya tienes una cuenta? <a href="/account/login">Ingresa</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
