html{
    height: 100%;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.body-home{
    overflow: visible !important;
}

.body-home a{
    text-decoration: none !important;
}

.content{
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    min-height: 200px;
}
/*.section-footer{
    position: absolute !important;
    width: 100%;
    left: 0;
    bottom: -100%;
}*/

.header-home{
    position: relative !important;
    z-index: 100 !important;
}
.carousel-item {
    height: 92vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.owl-carousel{
   z-index: 3;
   background-color: #FFFFFF;
}

#span-slider{
    margin-right: 0 !important;
}
.frsearch{
    position: relative;
    width: 100%;
    height: 31px;
}
.frsearch .text-muted{
    display: none;
}

#search-actions{
    width: 100%;
}
#search-actions:before{
    content: 'Mis Búsquedas';
}
.img-responsive{
    width: auto;
    height: 180px;
}

.loading-overlay{
    top: 50% !important;
    padding: 10%;
    box-sizing: border-box;
    left: 50% !important;
    width: 100% !important;
    transform: translate(-50%, -50%);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1500;
}
.navbar{
    position: relative !important;
}

#min-price{
    padding-right: 1em;
}
#max-price{
    padding-left: 1em;
}
.frsearch .text-muted{
    margin-right: 0 !important;
    margin-left: 0 !important;
    min-width: 110px;
}
.loading-overlay-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.dynatable-page-link{
    color: #fff !important;
}
.nav-top{
    float: left;
}
.btn-search{
    margin: 0 !important;
}

#filter-product{
	margin-bottom: 0.5rem;
}
#filter-product, #span-slider, #span-comp, #span-brands, #clear-btn, #custom-compare, #search-actions{
    margin-left: 0.14%;
}
#filter-product, #span-slider{
    width: 23.8% !important;
}
#span-comp, #span-brands, #clear-btn, #search-actions{
    width: 10.2%;
}
#span-comp #btn-companies, #span-brands #btn-companies{
    width: 100%;
}



/***************************************/
/*
.owl-carousel .owl-item img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: all .5s;
    transform: scale(1.3);
  }
  .owl-carousel .owl-item img:hover {
    -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
    filter: grayscale(0);
  }
*/
/*****************************************/



/**************POPUP GIF*****************/
#headerPopup{
  width:75%;
  margin:0 auto;
}

#headerPopup iframe{
  width:100%;
  margin:0 auto;
}

/*****/

/***************FIN POPUP******************/







/************/

#carouselPrixtips{
    height: 100%;
}
.carousel-inner{
    height: 100% !important;
}
.carousel-item{
    height: 100% !important;
}


/**************/
/*******MODIFICACION DESTACADOS**********/

.container-trends{
    width: 100%;
    box-shadow: 0 0 50px #000;
    margin-top: 0.5rem;
}
.container-trends-row{
    background: #16cdcd;
    border-radius: 10px 10px 0 0;
}
.container-trends-txt{
    padding-left: 1rem;
    margin: 0 !important;
    font-weight: bold;
    font-size: 1rem;
    color: #fff;
    line-height: 2.5rem;
}


#trends {
    margin-top: 0px;
    background: #fff;
    border-radius: 0 0 10px 10px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.7rem;

}

#trends .row:nth-child(1), #trends .row:nth-child(2){
    margin: 0 !important;
    grid-template-columns: 33.33% 33.33% 33.33%;
    display: grid !important;
    padding: 0 !important;
    width: 100%;
}

#trends .row:nth-child(1) .text-center, #trends .row:nth-child(2) .text-center{
    padding: 0 !important;
    box-sizing: border-box;
    
}

#trends .row:nth-child(1) .text-center p, #trends .row:nth-child(2) .text-center p{
    padding: 0 !important;
    box-sizing: border-box;
    background: #16cdcd;
    color: #fff !important;
    font-size: 0.8rem;
    margin: 0;
}

#trends .row:nth-child(2){
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}

/********FIN MODIFICACION DESTACADOS*********/



/*****************************/
#branch{
    position: relative;
    z-index: -1;
}

/****************************/


/*********************INICIO POPUP*************************/



#fade {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.9;
  opacity: 0.9;
  filter: alpha(opacity=80);
}

#light {
    width: 80%;
  display: none;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid #FFF;
  background: #FFF;
  z-index: 1002;
  overflow: visible;
}

#boxclose {
  float: right;
  cursor: pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 3px;
  background: #222222;
  font-weight: bold;
  line-height: 0px;
  padding: 11px 3px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 1002;
  width: 50px;
  height: 50px;
  line-height: 15px;
  text-align: center;
  font-size: 3rem;
}

.boxclose:before {
  content: "×";
}

#fade:hover ~ #boxclose {
  display:none;
}

.test:hover ~ .test2 {
  display: none;
}





.video-responsive{
position: relative;
padding-bottom: 56.25%; /* 16/9 ratio */
padding-top: 30px; /* IE6 workaround*/
height: 0;
overflow: hidden;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}


.call-to-action{
  text-decoration: none;
  cursor: pointer;
  background: rgb(255,147,30);
  background: -moz-linear-gradient(151deg, rgba(255,147,30,1) 0%, rgba(255,121,4,1) 100%);
  background: -webkit-linear-gradient(151deg, rgba(255,147,30,1) 0%, rgba(255,121,4,1) 100%);
  background: linear-gradient(151deg, rgba(255,147,30,1) 0%, rgba(255,121,4,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff931e",endColorstr="#ff7904",GradientType=1);
  border-radius: 1rem;
  padding: 0 1rem 0 0;
  box-sizing: border-box;
  display: table;
  margin: 0.5rem auto 0 auto;
  vertical-align: middle;
  transition: all .5s;
  border-bottom: 2px solid #fff;
}

.call-to-action-txt{
  display: table-cell;
  margin: 0;
  vertical-align: middle;
  font-weight: bold;
  padding-left: 1rem;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  color: #fff;
  text-transform: uppercase;
}
.call-to-action-play{
  font: normal normal normal 14px/1 FontAwesome;
  color: orange;
  background: #fff;
  line-height: 1rem;
  height: 40px;
  border-radius: 10px 0 0 10px;
  width: 40px;
  font-size: 2rem;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}




/**********************FIN POPUP**************************/


.cc-color-override-1519961192.cc-window{
    background: #f60 !important;
}

.cc-color-override-1519961192 .cc-btn{
    background: #16cdcd !important;
}


@media (max-width: 1310px){
    #filter-product, #span-slider{
        width: 49% !important;
    }
    #span-comp, #span-brands, #clear-btn, #custom-compare, #search-actions{
        width: 19.8%;
    }
}

@media (min-width: 769px) and (max-width: 1165px) {
    .form-inline-grid{
        display: flex !important;
    }
    #filter-product{

    }
    #span-slider{

    }
    #span-comp, #span-brands, #clear-btn, #custom-compare, .frsearch{
        /*width: 19.6% !important;*/
        margin-right: 0;
    }
    .frsearch{
        position: relative !important;
    }
    #btn-companies{
        width: 100% !important;
    }

}
@media screen and (min-width: 767px){
    .card .card .card-body .image-container{
        width: 50%;
        float: left;
        clear: none;
    }
    .card .card .card-body .actions-items{
        width: 50%;
        clear: left;
        float: left;
    }
    .card .card .card-body .dataTables_wrapper{
        
    }

    
.default-form-area{
    padding-top: 0;
}
.banner--area{
    min-height: 83%;
    overflow: hidden;
    position: relative;
}
.default-banner{
    height: 100%;
    overflow: hidden;
}
.popupImage{
  display: none;
  border: 5px solid #fff;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 99;

}
#popImage-close{
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.2rem;
  background: #f60;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  color: #fff;
  cursor: pointer;
}

.popupImage-image{
  width: 300px;
  margin-bottom: -4px;
}

    #product-detail{
        margin-top: 0;
    }
    .default-form-area{
        height: 100%;
    }
}

@media screen and (max-width: 767px) {
    .popupImage{
	display: none !important;
    }
    .search-icon .fa{
        font-size: 1rem;
        line-height: 2.4rem;
    }
    #product-detail {
        margin-top: 12px;
    }
    #filter-product {
        width: 39% !important;
        /*width: 300px;*/
    }

    #filter-min-price, #filter-max-price {
        width: 150px;
    }


    #span-slider{
        line-height: 35px;
        margin-right: 0 !important;
        margin-left: 0 !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60% !important;
        min-width: 60% !important;
    }
    #max-price{
        margin-left: 0 !important;
    }
    #span-slider #selector{
        width: 65%;
    }
    #span-slider #selector .price-slider #slider-range{
        width: 100%;
    }
    #span-slider #min-price{
        margin-right: 0 !important;
    }
    #product-table
    {
        margin-top: 15%!important;
    }

    .navbar-default
    {
        background-color: white!important;
        background: white!important;
    }

    .nav-item a
    {
        text-align: center;
        margin-bottom: 5px;
        margin-right: unset!important;
    }

    .searcher
    {
        margin-left: 10%!important;
        width: 100%!important;
    }
    .dynatable-record-count{
        width: 100%;
        text-align: center;
    }
    .dynatable-pagination-links{
        padding-left: 0;
        margin-right: 0;
        width: 100%;
        text-align: center;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 20% 20% 20% 20% 20%;
        width: calc(100% + 30px);
        margin-right: -15px;
    }
    .dynatable-pagination-links li:nth-child(3),
    .dynatable-pagination-links li:nth-child(4),
    .dynatable-pagination-links li:nth-child(5),
    .dynatable-pagination-links li:nth-child(6),
    .dynatable-pagination-links li:nth-child(7)
    {
        grid-row-start: 1;
    }
    .dynatable-pagination-links li:nth-child(2){
        grid-row-start: 2;
    }
    .dynatable-pagination-links li:nth-child(8){
        grid-column-end: 6;
        grid-column-start: 4;
        grid-row-start: 2;
    }
    .derechos-aputek{
        margin: 0;
        padding: 0 2px !important;
    }

}

@media screen and (min-width: 768px) {
    .header-ani{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .searcher
    {
        margin-left: 30%;
        width: 60%!important;
    }

    .navbar{
        padding-top: 4px !important;
        display: flex !important;
        padding-bottom: 4px !important;
        height: 45px !important;
    }
}

#product-table_wrapper
{
    margin-bottom: 10px;
    width: 100%;
}


.navbar-default{
    transition:500ms ease;
    background:transparent;
    color: white;
/*    background-color: transparent;*/
    border: none;
    z-index: 10000;
/*    transition: background-color 1s ease 0s;*/
}

.navbar-default.scrolled{
    background:#FFFFFF;
    z-index: 10000;
    /*z-index: 99999;*/
}

.navbar-default .navbar-nav > li > a {
/*    background-color: #16cdcdff;*/
    color: #ff6600;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #16cdcdff;
}

.navbar-toggler {
    margin:10px 0;
    background: transparent;
    color:#FFF;
}

#c-item1 {
    background-image: url("../img/slider/shopping01.jpg");
    background-size: cover;
}

#c-item2 {
    background-image: url("../img/slider/shopping02.jpg");
    background-size: cover;
}

#c-item3 {
    background-image: url("../img/slider/shopping03.jpg");
    background-size: cover;
}

#span-comp ul, #span-brands ul {
    font-size: 0.85rem!important;
}

.main-page {
    width: 100%;
}

.main-page1
{
    width: 100%;
    padding-top: 6%;
    padding-bottom: 3%;
}

.aux-page {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
    height: 500px;
}

.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

body {
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
}

.fa-bars{
    color: #00aced;
}


.ui-menu-item .ui-menu-item-wrapper:hover
{
    border: none !important;
    background-color: #ff6600;
}


.ui-autocomplete.ui-widget-content {
    z-index: 999999;
}

.tt-menu {
    width: 100%;
    max-width: 500px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    color: #000000;
}

.twitter-typeahead
{
    width: 100%!important;
}

.main-form-result
{
    position: absolute;
    bottom: 0;
    margin: auto;
    height: 80px;
    width: 100%;
}

.main-form-footer
{
    position: absolute;
    bottom: 0;
    margin: auto;
    height: 80px;
    width: 100%;
}

.main-form-footer a
{
    text-decoration: none;
/*    color: #ffffff;
    background: #ff6600;*/
    font-size: 2.5rem;
    color: #00aced;
    background-color: rgba(0, 0, 0, 0.50);
    margin-left: 17%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    padding-bottom: 5px;
}

.main-form-other
{
    position: absolute;
    bottom: 0;
    margin: auto;
    height: 350px;
    width: 80%;
    text-align: center;
    overflow-x: hidden;
}

.main-form-other p
{
    color: white;
    border-radius: 35px;
    display: inline-block;
/*    background-color: #ff6600;*/
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 2.3rem!important;
}

.main-form-other2
{
    position: absolute;
    bottom: 0;
    margin: auto;
    height: 280px;
    width: 80%;
    text-align: center;
    overflow-x: hidden;
}

.main-form-other2 p
{
    color: #ffffff;
    border-radius: 35px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.50);
/*    background-color: #ff6600;*/
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 2.3rem!important;
}


.main-form-other3
{
    position: absolute;
    bottom: 0;
    margin: auto;
    height: 210px;
    width: 80%;
    text-align: center;
    overflow-x: hidden;
}

.main-form-other3 p
{
    color: #ffffff;
    border-radius: 35px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.50);
/*    background-color: black;
    opacity: .4;*/
/*    background-color: #00aced;*/
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 2.3rem!important;
}

.w-15
{
    width: 15%!important;
}

/**************svg-icons.css en css de statics*****************/

#logo:hover path{
    fill: #FFFFFF;
}
#logo path{
  fill: #FFFFFF;
}
#iso_small {
    width: 40px;
    height: 40px;
}
/***********************************/

.cc-window.cc-banner{
    padding: 0.5em 1em;

}
.cc-btn{
    color: #fff;
}
.cc-link{
    font-weight: bold;
    background: #0f1a36;
}
.cc-banner .cc-message{
    font-size: 0.8rem;
}

/**********************************/

/*********************************/

.litem
{
    float: left!important;
}

@media screen and (max-width: 992px) {
    .main-form-result a
    {
        text-decoration: none;
        color: red;
        font-size: 3rem;
    }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .leaflet-left
    {
        margin-top: 5%!important;
    }

    table.dataTable thead>tr>th.sorting
    {
        width: 100%!important;
        padding-right: 10px!important;
    }

    .main-form-footer a {
        text-decoration: none;
        font-size: 20px;
        color: #00aced;
        background-color: rgba(0, 0, 0, 0.50);
        margin-left: 0%;
        padding-left: 5px;
        padding-right: 10px;
        border-radius: 10px;
        padding-bottom: 5px;
    }

    .main-form-result a {
        text-decoration: none;
        color: white;
        width: 90%;
        font-size: 1.5rem;
        display: block;
        margin-left: 1px!important;
        max-width: 100%;
    }

    .main-form-result {
        text-align: center;

    }

    .main-form-other {
        width: 90%;
        height: 330px;
    }

    .main-form-other2 {
        width: 90%;
    }

    .main-form-other3 {
        width: 90%;
        height: 230px;
    }

    .main-form-other p {
        font-size: 1.3rem!important;

    }

    .main-form-other2 p {
        font-size: 1.3rem!important;

    }

    .main-form-other3 p {
        font-size: 1.3rem!important;
    }

    .w-15{
        width: 30%!important;
    }
}


.col-md-61
{
    width: 50%;
}

.tablenmap a
{
    padding-bottom:5px;
    padding-right: 5px;
    padding-left: 5px;
    border: 1px solid #000;
    margin-right: 10px;
}

.btn-1 {
    color: #ffffff;
    background-color: #ff6600;
    border-color: #ff6600;
}

.text-orange {
    color: #FF6600!important;
}

.text-light-blue {
    color: #16CDCD!important;
}

/** CSS UPDATE ARAGONC **/
.bg-menu{
    background-color: #0F1A36;
    padding: 5px;
}
.logo-menu{
    padding: 2px 5px 0px 5px;
}
.btn-search{
    margin: 0 10px;
    background: #ff6600;
    border-color: #ff6600;
    color: #FFFFFF;
}
.btn-search:hover{
    background: #a04800;
    border-color: #a04800;
}
.menu-list .nav-item .nav-link{
    margin-right: 5px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 12px;
}
.map-place{
    position: fixed;
}
#map {
    height: 100vh;
    width: auto;
}

#mapid {
    display: none;
}



#product-detail .card {
    border: 1px solid #16cdcd;
}

#product-detail .card-header {
    background-color: #16cdcd;
    color: #ffffff;
    font-size: 1.2rem;
}

.fixed-toolbar{
    position: fixed;
    top: 45px;
    right: 0;
    left: 0;
    z-index: 1029;
}

.app-body{
    margin-top: 7px;
    display: grid;
    flex-direction: row;
    flex-grow: 1;
}
.app-body .list-result{
    flex: 1;
    min-width: 0;
    display: block;
}
.app-body .compare-result{
    min-width: 0;
    display: block;
    width: 60%;
    /*margin-right: 40%;*/
}
.app-body .main-maps{
    position: fixed;
    z-index: 99;
    width: 40%;
    overflow: hidden;
    height: calc(100vh - 45px);
    margin-left: 0;
    right: 0;
    top: 45px;
}
.list-result {
    margin-top: 5.8rem;
}
.compare-result {
    margin-top: 3rem;
}
#section-toolbar .card .card-body{
    padding: 0.75rem 1rem;
}


.section-footer{
    background: #0F1A36;
    padding-top: 0.4rem;
    position: relative;
    z-index: -1 !important;
    font-size: 12px;
    color: #FFFFFF;
}
.section-footer--front{
    z-index: 99 !important;
}
.section-footer .list-footer{
    list-style: none;
    padding: 0;
    margin: 0;
    color: #A5A5A5;
    font-size: 12px;
}
.section-footer .list-footer li a{
    color: #16CDCD;
}
.section-footer .list-footer li a:hover{
    color: #FFFFFF;
}
.section-footer .list-footer li{
    display: inline-block;
    margin-right: 10px;
}
.social-networks a{
    color: #FFFFFF;
    text-decoration: none;
}
.footer-copyright{
    color: #000;
    background: #fff;
    font-size: 12px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}
.btn-primary{
    background-color: #16cdcd;
    border: 1px solid #16cdcd;
}
.btn-primary:hover{
    background-color: #128383;
    border: 1px solid #128383;
}
.footer-copyright p{
    margin: 0;
}
.logo-footer{
    padding: 10px 5px;
}
.modal-dialog{
    margin-top: 6rem;
}
.modal-md {
    max-width: 650px;
}
.compare-modal, .shopping-list-modal, .publish-modal {
    padding-right: 0 !important;
}
.compare-modal .modal-body, .shopping-list-modal .modal-body, .publish-modal .modal-body {
    padding: 0;
}
.compare-modal .modal-header, .shopping-list-modal .modal-header, .publish-modal .modal-header {
    padding: 5px 10px;
    background-color: #16cdcd;
}
.compare-modal .modal-title, .shopping-list-modal .modal-title, .publish-modal .modal-title {
    font-size: 17px;
    color: #FFFFFF;
}
.compare-modal .close, .shopping-list-modal .close, .publish-modal .close {
    opacity: 1;
    color: #FFFFFF;
}
.compare-modal .modal-item{
    padding: 0px 5px 0px 5px;
}
.compare-modal td, .compare-modal th {
    padding: 0.45em;
}
.compare-modal .table {
    font-size: 0.85rem;
}
.shopping-list-modal .modal-item{
    padding: 10px;
}
.publish-modal .modal-item{
    padding: 10px;
}
.publish-modal .custom-file-label::after {
    content: "Elegir";
}
.cube-result{
    /*height: 80vh;*/
    margin-left: 5px;
    margin-right: 5px;
}
.scrollbar-inner > .scroll-element .scroll-bar {
    background-color: #06f;
}
.scrollbar-inner > .scroll-element .scroll-element_track {
    background-color: #a5c5d4;
}

[data-jplist-group] {
    display: flex;
    font-size: 16px;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.dynatable-record-count {
    margin-top: 5px;
    font-size: 1.1rem;
    background: #FF6600;
    line-height: 42px;
    margin-left: -5px;
    color: #fff;
    padding: 0px 0px 0px 10px !important;
    /*margin-left: 5px;*/
    /*margin-top: 5px;*/
}

.dynatable-pagination-links {
    font-size: 1.1rem;
    line-height: 32px;
    background: #FF6600;
    color: #fff;
    margin-bottom: 0 !important;
    margin-right: -5px;
    margin-top: 5px;
}
.dynatable-pagination-links li{
    border-radius: 0 !important;
    padding: 0 .5rem;
}
.dynatable-active-page{
    background: #16CDCD !important;
}
.layout-grid {
    flex-direction: row;
    flex-wrap: wrap;
}

#product-list .card {
    border: 0;
}

#product-list .card-body {
    border: 1px solid #ccc;
    overflow: hidden;
    border-radius: .25rem;
    box-sizing: border-box;
    margin: 5px 5px;
}

.layout-grid .card-item {
    width: 25%;
}

.layout-grid{
    background-color: #FFFFFF;
}


.default-form-area{
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
    width: 100%;
    flex-direction: column;
    /*height: 100%!important;*/
    display: flex!important;
    align-items: center;
    /*position: absolute;*/
    z-index: 4;
}
.default-form-area .search-bar{
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 10px;
    height: 100%;
    /*height: calc(100vh - 124.78px);*/
    margin: 0;
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: space-around;
    /*width: 60%;*/
}
.default-form-area .search-bar .input-group-text{
    color: #FFFFFF;
    background-color: #f60;
    border: 1px solid #f60;
}
.default-form-area .search-bar .input-group-text:hover{
    background-color: #16cdcd;
    border: 1px solid #16cdcd;
}
.default-form-area .search-bar .title{
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 1rem;
}
.default-form-area .search-bar .subtitle{
    color: #FFFFFF;
    text-align: center;
    margin-top: 2rem;
    font-size: 18px;
    font-weight: normal;
}
.default-form-area .search-bar .form-text-search{
    border-radius: 20px;
}

.banner--area{
    position: relative;
    
}

.default-banner{
    z-index: -1;
    position: absolute;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.default-banner::before{
    position: absolute;
    z-index: 2;
    background: rgba(0, 0, 0, 0.77);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
}

.card-item .card-body{
    padding: 0.5rem;
}
.product-name .name{
    margin-top: 3px;
    font-weight: bold;
    font-size: 0.85rem;
}
.product-name .price{
    color: #218838;
    font-size: 0.85rem;
    margin-block: 10px;
}
.product-name .model{
    font-size: 0.85rem;
}
.product-name .companies{
    margin: 5px 1px 7px 1px;
}
.product-name .companies img {
    max-height: 35px;
    margin: 0px 3px;
}
.product-name .compare{
    font-size: 1.2em;
}
.item-description{
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    align-items: center;
}
.item-description .child{
    width: 50%;
    height: 50%;
}
.item-description .child.modal-image{
    text-align: right;
}
.item-description .child .actions-items{
    font-size: 1.5rem;
}
#filter-bar{
    display: none;
}
.myTabContentMaps{
    display: inline-block;
    width: 100%;
}
.bar-buttons{
    display: none;
}
.search-icon{
    position: absolute;
    background-color: transparent;
    top: 5px;
    right: 15px;
    z-index: 99;
}
.search-icon .fa{
    font-size: 2rem;
}
.intro-community{
    margin-top: 1rem;
}
#section-community{
    padding-top: 3rem;
}
.card-community{
    border: 1px solid #16CDCD;
}
.card-community .card-img-top {
    border-bottom: 1px solid #16cdcd;
}
.card-community .card-title {
    color: #16cdcd;
}
.card-community .card-text{
    color: #666;
}
.card-community .card-footer{
    background-color: #FFFFFF;
    border-top: 1px solid #16cdcd;
}
.card-community .card-company{
    font-size: 12px;
    color: #666666;
}
/* Large desktop */
@media (min-width: 1200px) {
    .search-text{
        width: 60vh !important;
        margin-right: 0.2rem;
    }
}
@media (min-width: 980px) {
    .list-result{
        margin-top: 4rem !important;
    }
    /*
    .form-inline-grid{
        display: grid;
        grid-template-columns: 1fr 2fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-column-gap: 4px;
        justify-content: space-between;
    }*/
    .form-inline .mr-2{
        margin-right: 0 !important;
    }
    #custom-compare{
        /*min-width: 110px;*/
    }
    #span-slider{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0 !important;
    }
    #selector{
        width: 70% !important;
    }
    #min-price{
        margin-right: 0 !important;
    }
    #max-price{
        margin-left: 0 !important;
    }

}
@media screen and (max-width: 980px){
    .frsearch{
        display: none;
    }
    #span-comp, #span-brands, #clear-btn{
        width: 33% !important;
        margin-left: 0.33%;
        margin-right: 0 !important;
    }
}

@media screen and (min-width: 980px){

   
    .app-bodyResult{
        margin-top: 55px;
    }
}
@media (min-width: 980px) and (max-width: 1024px) {
    .app-body{
        margin-top: 75px;
    }
    .display-mobile{
        display: none;
    }
    .layout-grid .card-item {
        width: 25%;
    }
    .search-text{
        width: 50vh !important;
    }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .menu-list .nav-item .nav-link{
        font-size: 12px;
    }

    .footer-links{
        display: none;
    }
    .app-body{
        margin-top: 35px;
    }
    .display-mobile{
        display: none !important;
    }
    .layout-grid .card-item {
        width: 25%;
    }
    .app-body .main-maps {
        display: none;
    }
    .app-body .compare-result {
        
    }
    .default-form-area .search-bar{
        width: 70%;
    }
    #section-toolbar .card .card-body{
        padding: 5px;
    }
    .filter-hidden{
        display: none;
    }
    .section-footer{
        /*display: none;*/
    }
    .bar-buttons{
        display: inline-block;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        position: fixed;
        z-index: 1200;
        text-align: right;
        right: 15px;
    }
    .search-text{
        width: 30vh !important;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    #light{
        width: 98%;
    }
    .call-to-action-txt{
        font-size: .8rem;
    }
    .header-ani{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .app-body {
        display: table !important;
        margin-top: 92px;
        height: 100vh;
    }
    .display-mobile{
        display: none !important;
    }
    .compare-result{
        margin: 2rem 0 0 0;
    }
    .filter-hidden{
        display: none;
    }
    #section-toolbar .card .card-body{
        padding: 5px;
    }
    .navbar{
        padding: 5px;
    }
    .navbar-brand{
        padding: 0;
    }
    .navbar-toggler{
        margin: 5px 0;
    }
    .section-footer{
        display: none;
    }
    .navbar{
        justify-content: flex-start;
    }
    .nav-top{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .form-search{
        width: 100%;
    }
    .card-body .controls .form-inline{
        justify-content: space-between;
        /*display: grid;
        margin-left: 0 !important;
        grid-template-columns: 4fr 1fr 1fr;*/

    }
    #filter-product{
        width: 40%;
    }
    .form-inline .form-control{
        width: 59% !important;
        margin-right: 0 !important;
    }
    .btn-search{
        width: 20%;
        margin-left: 0.8%;
    }
    #filter-bar{
        width: 19%;
    }
    .form-inline #span-comp, .form-inline #span-brands, .form-inline #clear-btn{
        width: 33%;
        margin-right: 0 !important;
    }
    .form-inline #span-comp #btn-companies, .form-inline #span-brands #btn-companies{
        width: 100%;
    }
    #nav-form{
        margin-left: 0 !important;
    }
    .navbar-toggler-icon{
        width: 1em;
        height: 1em;
    }
    .fixed-toolbar{
        display: none;
        top: 90px;
    }
    .fixed-toolbar.d-none{
        display: inline-block!important;
    }
    #filter-bar{
        display: inline-block;
    }
    .app-body .main-maps {
        display: none;
        width: 100%;
        top: 0;
    }
    .app-body .list-result {
        padding: 10px;
        margin: 0;
        display: inline-block;
        width: 100%;
    }
    .app-body .compare-result {
        padding: 10px;
        display: inline-block;
        width: 100%;
    }
    .bar-buttons{
        display: inline-block;
        width: 40px;
        top: 50%;
        transform: translateY(-50%);
        position: fixed;
        z-index: 1000;
        right: 0;
    }
    .bar-buttons .btn-sm{
        padding: 0;
        margin-bottom: 2px;
    }
    .search-text{
        width: auto !important;
    }

}

@media (max-width: 580px) {
	.default-form-area .search-bar .title{
		margin-top: 1.5rem;
	}
	
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .dynatable-pagination-links{
        width: 100%;
        margin-right: 0;
    }
    #section-toolbar .card .card-body{
        padding: 5px;
    }
    .fixed-toolbar {
        bottom: 0;
        top: inherit;
    }
    .filter-hidden{
        display: none;
    }
    .app-body {
        margin-top: 50px;
        height: 100vh;
    }

    .app-body .main-maps {
        display: none;
    }

    .app-body .list-result {
        padding: 0px;
        margin: 0;
        display: inline-block;
        width: 100%;
    }

    .app-body .compare-result {
        padding: 5px
        display: inline-block;
        width: 100%;
    }

    .logo-footer {
        display: none;
    }

    .footer-links {
        display: none;
    }

    .navbar-collapse {
        margin-top: 10px;
    }

    .compare-modal .modal-title {
        font-size: 16px;
    }

    .cube-result {
        margin-left: 0 !important;
        margin-right: 0 !important;
        height: auto;
    }
    .section-footer .list-footer li.display-mobile{
        display: none;
    }
    .section-footer .d-flex{
        display: inline-block !important;
        text-align: center;
        width: 100%;
    }
    .section-footer .d-flex .flex-fill{
        display: inline-block;
        width: 100%;
        text-align: center;
        padding: 0 !important;
    }
    .derechos-aputek{
        margin-bottom: 0;
    }
    .footer-container .footer-legends .d-flex .p-2{
        padding: 0 !important;
    }
    .terms-conditions.text-right{
        text-align: center !important;
        /*display: none;*/
    }
    .default-form-area .search-bar{
        width: 100%;
        height: auto;
        padding-bottom: 2rem;
    }
    .default-form-area .search-bar .btn-link{
        padding: 0;
    }
    .compare-product.img-responsive {
        width: 100px;
        height: auto;
    }
    .section-footer{
        display: inline-block;
    }
    .form-inline{
        width: 100%;
    }
    .btn-search{
        margin: 0 0 0 5px;
    }
    .fixed-toolbar{
        display: none;
    }
    .fixed-toolbar.d-none{
        display: inline-block!important;
    }
    #filter-bar{
        display: inline-block;
    }
    #controls .form-inline .form-control{
        width: 100% !important;
    }
    .bar-buttons{
        display: inline-block;
        width: 45px;
        top: 50%;
        transform: translateY(-50%);
        position: fixed;
        z-index: 1000;
        right: -5px;
    }
    .bar-buttons .btn-sm{
        padding: 0;
        margin-bottom: 2px;
    }
    .search-text{
        width: 100% !important;
    }
    .nav-top{
        width: 100%;
        display: inline-block;
    }
    .nav-top .navbar-toggler{
        float: right;
    }
    h1.title{
        font-size: 1.75rem;
    }
    .default-form-area .search-bar .form-text-search{
        font-size: 1rem;
    }
    .default-form-area .search-bar .subtitle{
        margin-top: 1rem;
        font-size: 16px;
    }
    #span-slider{
        line-height: 42px !important;
        width: 100% !important;
    }
    #product-list{
        margin-top: 39px;
    }
    #product-list .card-body{
        margin-left: 0px !important;
        margin-right: 0px !important;
        margin-bottom: 5px !important;
    }
    #product-list .card{
        padding: 10px !important;
    }
}

.searchMark {
    background: #fcf8e3;
    color: black;
    font-weight: bold;
    padding: 3px 0px 3px 0px;
}
#compare-product-list{
    position: absolute;
    z-index: 1;
    font-size: 14px;
    width: 100%;
}







