@media screen and (max-width: 767px) {
    .navbar-default
    {
        background-color: white!important;
        background: white!important;
    }

    .nav-item a
    {
        text-align: center;
        margin-bottom: 5px;
        margin-right: unset!important;
    }
}


#product-table_wrapper
{
    margin-bottom: 10px;
}

.dataTables_wrapper
{

}

.fa-user
{
    margin-right: 5px;
}



.navbar-default{
    transition:500ms ease;
    background:transparent;
    color: white;
/*    background-color: transparent;*/
    border: none;
    z-index: 100;
/*    transition: background-color 1s ease 0s;*/
}

.navbar-default.scrolled{
    background:#FFFFFF;
    z-index: 10000;
    /*z-index: 99999;*/
}

.navbar-default .navbar-nav > li > a {
    color: #ff6600;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #16cdcdff;
}

.navbar-toggler {
    margin:10px 0;
    background: transparent;
    color:#FFF;
}

.form-inline {
    flex-flow: initial;
}

#c-item1 {
    background-image: url("../img/shopping.jpg");
}

#c-item2 {
    background-image: url("../img/bananas.jpg");
}

#c-item3 {
    background-image: url("../img/fridges.jpg");
}


.main-form {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    /*width: 500px;*/
    height: 200px;
    width: 100%;
    background: transparent;
}

form  {
    margin:auto;
    max-width:400px;
}

/* Style the search field */
form.data-form input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 2px solid #16cdcdff;
    float: left;
    width: 80%;
    background: #f1f1f1;
    border-radius: 10em;
    outline: none;
    vertical-align: top;
}

/* Style the submit button*/
form.data-form button {
    float: left;
    width: 20%;
    padding: 0px;
    background: transparent;
    border: none;
    border-left: none;
    cursor: pointer;
    outline: none;
    vertical-align: top;
}

form.data-form button:hover {
    border: none;
    border-left: none;
}

/* Clear floats */
form.data-form::after {
    content: "";
    clear: both;
    display: table;
}

form.nav-form button {
    float: left;
    width: 5%;
    height: 5%;
    padding: 0px;
    background: transparent;
    border: none;
    border-left: none;
    cursor: pointer;
    outline: none;
    vertical-align: top;
}


.main-page {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    height: 500px;
}

.aux-page {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
    height: 500px;
}

.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

body {
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
}


#map {
    height: 400px;
    width: auto;
}


.fa-bars{
    color: #00aced;
}


.ui-menu-item .ui-menu-item-wrapper:hover
{
    border: none !important;
    background-color: #ff6600;
}


.ui-autocomplete.ui-widget-content {
    z-index: 999999;
}



/*.typeahead {*/
    /*width: 90%;*/
    /*max-width: 700px;*/
    /*margin: auto;*/
    /*display: block;*/
    /*padding-bottom: 30px;*/
    /*position: relative;*/
/*}*/

/*.typeahead input {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*max-width: 700px;*/
    /*padding: 10px;*/
    /*opacity: 1;*/
    /*background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);*/
/*}*/

/*.twitter-typeahead {*/
    /*width: 100%;*/
/*}*/

/*.twitter-typeahead .tt-query,*/
/*.twitter-typeahead .tt-hint {*/
    /*margin-bottom: 0;*/
/*}*/

/*.typeahead ul, .typeahead li {*/
    /*list-style: none;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*border: 0;*/
    /*font: inherit;*/
    /*font-size: 100%;*/
    /*vertical-align: baseline;*/
/*}*/


/*.tt-menu, .ui-menu {*/
    /*width: 100%;*/
    /*max-width: 700px;*/
    /*margin-top: 2px;*/
    /*padding: 5px 0;*/
    /*background-color: #ffffff;*/
    /*border: 1px solid rgba(0, 0, 0, 0.15);*/
    /*border-radius: 4px;*/
    /*-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);*/
    /*box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);*/
    /*background-clip: padding-box;*/

/*}*/

/*.tt-suggestion, .ui-menu-item {*/
    /*display: block;*/
    /*padding: 6px 20px;*/
/*}*/


/*.ui-helper-hidden-accessible {*/
    /*display: none;*/
/*}*/

/*.typeahead-footer{*/
    /*border-top:1px solid #eee;*/
    /*margin-top:10px;*/
    /*padding: 20px;*/
/*}*/

/*.typeahead {*/
    /*width: 90%;*/
    /*max-width: 700px;*/
    /*margin: auto;*/
    /*display: block;*/
    /*padding-bottom: 30px;*/
    /*position: relative;*/
/*}*/

/*.typeahead input {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*max-width: 700px;*/
    /*padding: 10px;*/
    /*opacity: 1;*/
    /*background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);*/
/*}*/

/*.twitter-typeahead {*/
    /*width: 100%;*/
/*}*/

/*.twitter-typeahead .tt-query,*/
/*.twitter-typeahead .tt-hint {*/
    /*margin-bottom: 0;*/
/*}*/

/*.typeahead ul, .typeahead li {*/
    /*list-style: none;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*border: 0;*/
    /*font: inherit;*/
    /*font-size: 100%;*/
    /*vertical-align: baseline;*/
/*}*/


.tt-menu {
    width: 100%;
    max-width: 500px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    color: #000000;
}

/*.tt-menu, .ui-menu {*/
    /*width: 100%;*/
    /*max-width: 700px;*/
    /*margin-top: 2px;*/
    /*padding: 5px 0;*/
    /*background-color: #f1b0b7;*/
    /*border: 1px solid rgba(0, 0, 0, 0.15);*/
    /*border-radius: 4px;*/
    /*-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);*/
    /*box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);*/
    /*background-clip: padding-box;*/

/*}*/

/*.tt-suggestion, .ui-menu-item {*/
    /*display: block;*/
    /*padding: 6px 20px;*/
/*}*/


/*.ui-helper-hidden-accessible {*/
    /*display: none;*/
/*}*/

/*.typeahead-footer{*/
    /*border-top:1px solid #eee;*/
    /*margin-top:10px;*/
    /*padding: 20px;*/
/*}*/