/*.multi-range, .multi-range * {*/
/*    box-sizing: border-box;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/

/*.multi-range {*/
/*    position: relative;*/
/*    width: 300px;*/
/*    height: 28px;*/
/*    margin: 0px;*/
/*    border: 1px solid #ddd;*/
/*    font-family: monospace;*/
/*}*/

/*.multi-range > hr {*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    top: 50%;*/
/*}*/

/*.multi-range > input[type=range] {*/
/*    width: calc(100% - 16px);*/
/*    position: absolute;*/
/*    bottom: 6px;*/
/*    left: 0;*/
/*}*/

/*.multi-range > input[type=range]:last-of-type {*/
/*    margin-left: 16px;*/
/*}*/

/*.multi-range > input[type=range]::-webkit-slider-thumb {*/
/*    transform: translateY(-18px);*/
/*}*/

/*.multi-range > input[type=range]::-webkit-slider-runnable-track {*/
/*    -webkit-appearance: none;*/
/*    height: 0px;*/
/*}*/

/*.multi-range > input[type=range]::-moz-range-thumb {*/
/*    transform: translateY(-18px);*/
/*}*/

/*.multi-range > input[type=range]::-moz-range-track {*/
/*    -webkit-appearance: none;*/
/*    height: 0px;*/
/*}*/

/*.multi-range > input[type=range]::-ms-thumb {*/
/*    transform: translateY(-18px);*/
/*}*/

/*.multi-range > input[type=range]::-ms-track {*/
/*    -webkit-appearance: none;*/
/*    height: 0px;*/
/*}*/

/*#min-span {*/
/*    font-size: 15px;*/
/*    margin: 5px;*/
/*}*/

/*#max-span {*/
/*    font-size: 15px;*/
/*    margin: 5px;*/
/*}*/

/*!*--------------------init selector price slider-----------------*!*/

/*.selector {*/
/*    position: relative;*/
/*    padding: 0px;*/
/*    width: 300px;*/
/*    color: #7e7e7e;*/
/*}*/

/*.selector ul {*/
/*    position: relative;*/
/*    display: block;*/
/*    overflow: auto;*/
/*    min-width: 138px;*/
/*    max-height: 200px;*/
/*    background: #fff;*/
/*    list-style: none;*/
/*    white-space: inherit;*/
/*    padding-right: 17px;*/
/*    width: calc(100% + 17px)*/
/*}*/

/*.selector li {*/
/*    position: relative;*/
/*    padding: 3px 20px 3px 25px;*/
/*    cursor: pointer*/
/*}*/

/*.selector li:before {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    top: 4px;*/
/*    display: inline-block;*/
/*    margin-right: 9px;*/
/*    width: 17px;*/
/*    height: 17px;*/
/*    background-color: #f4f4f4;*/
/*    border: 1px solid #d5d5d5;*/
/*    content: ""*/
/*}*/

/*.selector li[data-selected="1"]:before {*/
/*    border: 1px solid #d7d7d7;*/
/*    background-color: #fff*/
/*}*/

/*.selector li[data-selected="1"]:after {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 3px;*/
/*    top: 11px;*/
/*    display: inline-block;*/
/*    width: 4px;*/
/*    height: 10px;*/
/*    border-right: 2px solid;*/
/*    border-bottom: 2px solid;*/
/*    background: none;*/
/*    color: #39c9a9;*/
/*    content: "";*/
/*    -webkit-transform: rotate(40deg) translateY(-50%);*/
/*    transform: rotate(40deg) translateY(-50%)*/
/*}*/

/*.selector li:hover {*/
/*    color: #aaa*/
/*}*/

/*.selector li .total {*/
/*    position: absolute;*/
/*    right: 0;*/
/*    color: #d7d7d7*/
/*}*/

/*.selector .price-slider {*/
/*    text-align: center;*/
/*    display: -webkit-box;*/
/*    display: -ms-flexbox;*/
/*    display: flex;*/
/*    -ms-flex-wrap: wrap;*/
/*    flex-wrap: wrap;*/
/*    -webkit-box-pack: justify;*/
/*    -ms-flex-pack: justify;*/
/*    justify-content: space-between;*/
/*    -webkit-box-align: center;*/
/*    -ms-flex-align: center;*/
/*    align-items: center;*/
/*    position: relative;*/
/*    padding-top: 17px*/
/*}*/

/*@media (min-width: 768px) {*/
/*    .selector .price-slider {*/
/*        padding-top: 8px*/
/*    }*/
/*}*/

/*.selector .price-slider:before {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 0;*/
/*    margin-top: 0;*/
/*    color: #091cca;*/
/*    content: attr(data-currency);*/
/*    -webkit-transform: translateY(-50%);*/
/*    transform: translateY(-50%)*/
/*}*/

/*.selector #slider-range {*/
/*    width: 90%;*/
/*    margin-bottom: 0px;*/
/*    border: none;*/
/*    background: #D7D7D7;*/
/*    height: 3px;*/
/*    margin-left: 8px;*/
/*    margin-right: 8px*/
/*}*/

/*@media (min-width: 768px) {*/
/*    .selector #slider-range {*/
/*        width: 100%*/
/*    }*/
/*}*/

/*.selector .ui-slider-handle {*/
/*    border-radius: 50%;*/
/*    background-color: #d1731c;*/
/*    border: none;*/
/*    top: -14px;*/
/*    width: 28px;*/
/*    height: 28px;*/
/*    outline: none*/
/*}*/

/*@media (min-width: 768px) {*/
/*    .selector .ui-slider-handle {*/
/*        top: -7px;*/
/*        width: 16px;*/
/*        height: 16px*/
/*    }*/
/*}*/

/*.selector .ui-slider-range {*/
/*    background-color: #0F1A36*/
/*}*/

/*.selector .slider-price {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    padding: 10px 10px;*/
/*    width: 40%;*/
/*    background-color: #e2f7f2;*/
/*    line-height: 28px;*/
/*    text-align: center;*/
/*}*/

/*.selector .slider-price:before {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 13px;*/
/*    margin-top: 50px;*/
/*    color: #619228;*/
/*    content: attr(data-currency);*/
/*    -webkit-transform: translateY(-50%);*/
/*    transform: translateY(-50%)*/
/*}*/

/*.selector .show-all {*/
/*    position: relative;*/
/*    padding-left: 25px;*/
/*    color: #39c9a9;*/
/*    cursor: pointer;*/
/*    line-height: 28px*/
/*}*/

/*.selector .show-all:after, .selector .show-all:before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 4px;*/
/*    margin-top: -1px;*/
/*    color: #39c9a9;*/
/*    width: 10px;*/
/*    border-bottom: 1px solid*/
/*}*/

/*.selector .show-all:after {*/
/*    -webkit-transform: rotate(90deg);*/
/*    transform: rotate(90deg)*/
/*}*/

/*.selector.open ul {*/
/*    max-height: none*/
/*}*/

/*.selector.open .show-all:after {*/
/*    display: none*/
/*}*/

/*.ui-state-default {*/
/*    background: #16CDCD;*/
/*}*/


/** {*/
/*    -webkit-box-sizing: border-box;*/
/*    -ms-box-sizing: border-box;*/
/*    box-sizing: border-box;*/
/*}*/

/*#selector{*/
/*    display: inline-block;*/
/*    padding-bottom: 10px;*/
/*    height: 38px;*/
/*    box-sizing: border-box;*/
/*}*/
/*!*#max-price{*!*/
/*!*    margin: 0;*!*/
/*!*    margin-top: 30px;*!*/
/*!*}*!*/

/*#min-price{*/
/*    vertical-align: sub;*/
/*    margin-left: 20px;*/
/*    margin-right: 10px;*/
/*}*/
/*#max-price{*/
/*    vertical-align: sub;*/
/*    margin-right: 20px;*/
/*    margin-left: 10px;*/
/*}*/

/*#span-slider{*/
/*    vertical-align : middle;*/
/*    height: 38px;*/
/*    width : 500px;*/
/*}*/
/*div#selector {*/
/*    width: 250px;*/
/*    display: inline-block;*/
/*    margin: 0 15px;*/
/*}*/
div#span-slider {
    width: auto;
    margin: 0px 8px 0px 2px;
}

div#span-comp input {
    margin-right: 5px;
}

div#selector {
    width: 200px;
    display: inline-block;
}

#min-price {
    font-size: 0.90rem;
    margin-right: 15px;
}
#max-price{
    font-size: 0.90rem;
    margin-left: 15px;
}
#right-slide::after {
    width: 13px;
}
#left-slide::after {
    width: 13px;
}
/*--------------------fin selector price slider-----------------*/

/*-----------------ini button selector companies-----------*/
/*#btn-companies {*/
/*    width: 140px;*/
/*    margin : 0px;*/
/*    margin-bottom : 0px;*/
/*    margin-left: 0px;*/
/*}*/

.dropdown-toggle::after {
    display: none;
}

#dropd-company{
    min-width: 140px;
    width: 140px;
    margin-top: 12px;
    margin-left: 0px;
}

#dropd-company li{
    width: 140px;

}

.form-inline label{
    margin-left: 15px;
    justify-content: left;
}

.dropdown-menu > li.checkbox{
      padding: 3px 10px;
    }
.dropdown-menu{
    margin-top : 12px;
    min-width: 140px;
}
button#btn-companies {
    width: 140px;
}

/*-----------------fin button selector companies-----------*/
